.woocommerce-cart {
    .site-content {
        @extend .container-small;
        margin-left: auto;
        margin-right: auto;
    }

    .entry-header {
        @extend .shop-intro;
    }

    .entry-title {
        @extend %heading-product-single;
    }

    .woocommerce {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        max-width: (1400 / 16) * 1em;


        @media (min-width: $bp-nav) {
            grid-template-columns: 50%;
            grid-template-areas:
                "notices notices"
                "cart collaterals";

            .cart-collaterals {
                grid-area: collaterals;
                padding: 0 0 0 2.5em;
            }

            .woocommerce-notices-wrapper {
                grid-area: notices;
            }

            .woocommerce-cart-form {
                grid-area: cart;
            }
        }

        @media (min-width: $bp-big) {
            grid-template-columns: 60% 40%;

            .cart-collaterals {
                padding-left: 5em;
            }
        }
    }
}
