// checkout page
.woocommerce-checkout {
    article {
        @extend .container-small;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1em;
    }

    .entry-header {
        @extend .shop-intro;
        padding-bottom: 1em;
        padding-left: 0;
        margin-bottom: 1em;
    }

    .entry-title {
        @extend %heading-product-single;

        &::after {
            content: '';
            display: block;
            width: 72px;
            height: 3px;
            margin-top: 8px;
            border-radius: 2px;
            background-color: $color-red;
        }
    }


    .woocommerce-billing-fields {
        h3 {
            @extend %heading-4;
            margin: 2em 0 1em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    #order_review_heading {
        @extend %heading-4;
        margin: 2em 0 1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .woocommerce-additional-fields {
        padding-top: 3em;
    }

    .woocommerce-shipping-fields {
        padding-top: 2em;
        margin-bottom: 1em;

        h3 {
            @extend %heading-5;
            padding: 0 0.5em 0.25em 0;
            font-weight: 600;
        }

        label {
            position: relative;
        }
    }


    .woocommerce-billing-fields__field-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .form-row {
            width: calc(50% - 0.5em);
            margin-bottom: 0.5em;

            input {
                padding: 0.5em 1em;
            }
        }
    }

    .woocommerce form .form-row label {
        @extend %heading-5;
        padding: 0 0.5em 0.25em 0;
        font-weight: 600;
    }

}
