.post-type-archive-product {
    .woocommerce-breadcrumb {
        display: none;
    }
}

.shop-intro {
    @media (min-width: $bp-nav) {
        padding: 6em 1em;
    }
}


// woo overrides
.woocommerce {
    // main shop page
    ul.products {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        max-width: (1496 / 16) * 1em;
        margin: 0 auto;
        padding-left: 1em;

        @media (min-width: $bp-nav) {
            padding-left: 2em;
        }

        @media (min-width: $bp-big) {
            padding-left: 3em;
        }

        li.product .price {
            @extend %fs-16;
            color: $color-black-2;
        }

        // product preview
        li.product {
            position: relative;
            display: block;
            width: calc(50% - 1em);
            margin: 0 1em 2em 0;
            padding: 0 0 3em;
            border: 1px solid $color-gray-3;
            border-radius: 0.125em;
            overflow: hidden;

            @media (min-width: $bp-nav) {
                width: calc(33.33% - 2em);
                margin-right: 2em;
                margin-bottom: 2em;
            }

            @media (min-width: $bp-big) {
                width: calc(25% - 3em);
                margin-right: 3em;
                margin-bottom: 3em;
            }

            .heading-product-preview {
                margin-bottom: 0.25em;
                transition: color 0.2s ease-out;
            }

            .button.product_type_simple.add_to_cart_button,
            .button {
                @extend %button;
                display: block;
                position: absolute;
                bottom: 1em;
                left: 0;
                right: 0;
                width: calc(100% - 2em);
                margin: 0 auto;
                font-size: 13px;
                color: $color-red;
                border-color: $color-red;
                border-radius: 4px;
                background-color: $color-white;

                &:hover {
                    color: $color-black-2;
            		border-color: $color-black-2;
            		background-color: $color-white;
            	}
            }

            .woocommerce-loop-product__link {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                height: 100%;

                &:hover {
                    .heading-product-preview {
                        color: $color-red;
                    }

                    .button.product_type_simple.add_to_cart_button,
                    .button {
                        color: $color-black-2;
                		border-color: $color-black-2;
                		background-color: $color-white;
                    }
                }

                .archive-img-wrap {
                    overflow: hidden;
                    margin-bottom: 1em;

                    img {
                        display: block;
                        margin: 0;
                        transform: scale(1);
                        transition: transform 0.25s ease-out;
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .product-detail-wrap {
            width: calc(100% - 2em);
            margin: 0 auto;
            padding-bottom: 1.5em;
        }
    }



    // single product page
    .type-product {
        display: grid;
        grid-template-columns: 100%;

        &.product {
            width: 100%;
            max-width: (1400 / 16) * 1em;
            margin: 0 auto;
            padding: 0 1em;

            .product_title {
                @extend %heading-product-single;
            }

            .price {
                margin-bottom: 2em;
                color: $color-black-2;
            }

            .button.alt {
                &.single_add_to_cart_button {
                    @extend %button;
                    padding: 0.75em 6em;
                }
            }

            .woocommerce-product-details__short-description {
                @extend %copy-3;
                margin-bottom: 3em;
            }
        }

        .products {
            &.related {
                padding-left: 1em;

                ul {
                    padding-left: 0;
                }

                @media (min-width: $bp-nav) {
                    padding-left: 2em;
                }

                @media (min-width: $bp-big) {
                    padding-left: 3em;
                }
            }
        }

        @media (min-width: $bp-nav) {
            grid-template-columns: 50%;
            grid-template-areas:
                "image details"
                "related related";

            .woocommerce-product-gallery {
                grid-area: image;
            }

            .entry-summary {
                grid-area: details;
                padding: 0 0 0 2.5em;
            }

            .products {
                &.related {
                    grid-area: related;
                    margin-top: 10em;
                }
            }
        }

        @media (min-width: $bp-big) {
            grid-template-columns: 60% 40%;

            .entry-summary {
                padding-left: 5em;
            }
        }


        &.product {
            div.images .flex-control-thumbs {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                padding-top: 0.5em;
            }

            @media (min-width: $bp-big) {
                div.images .flex-control-thumbs {
                    order: 0;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    padding: 0 0.5em 0 0;

                    li {
                        width: 100%;
                        margin-bottom: 0.5em;
                    }
                }

                .woocommerce-product-gallery {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;

                    .flex-viewport {
                        order: 1;
                    }
                }
            }
        }
    }


    //breadcrumbs
    .woocommerce-breadcrumb {
        @extend .container-site;
        margin: 4em auto 2em;
        font-size: 14px;
        text-align: center;

        a {
            position: relative;
            margin: 0 1.5em 0 0;
            color: $color-gray-5;

            &::after {
                content: '/';
                display: block;
                position: absolute;
                top: 0;
                right: -0.875em;
            }

            &:hover {
                color: $color-red;

                &:after {
                    color: $color-gray-5;
                }
            }
        }

        @media (min-width: $bp-nav) {
            margin: 6em auto 3em;
        }
    }



    // result count & orderby select
    .results-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: calc(100% - 2em);
        max-width: calc(((1496 / 16) * 1em) - 6em);
        margin: 0 auto 2em;
        text-align: right;

        @media (min-width: $bp-nav) {
            width: calc(100% - 4em);
        }

        @media (min-width: $bp-big) {
            width: calc(100% - 6em);
        }
    }

    .woocommerce-result-count {
        order: 1;
        margin: 0 0 0 1em;

        span {
            @extend %heading-5;
            font-weight: 400;
        }
    }

    .woocommerce-ordering {
        order: 0;
        margin: 0;
    }


    // pagination
    nav.woocommerce-pagination {
        ul.page-numbers {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            border-width: 0;

            li {
                margin: 0 0.25em;
                border-width: 0;
            }

            .page-numbers {
                border: 1px solid $color-gray;
                border-radius: 2px;
                background-color: $color-gray-4;
                color: $color-black-2;
                transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;

                &.current {
                    background-color: darken($color-gray-4, 35);
                    border-color: darken($color-gray, 45);
                    color: $color-white;
                }

                &:hover:not(.current) {
                    background-color: darken($color-gray-4, 15);
                    border-color: darken($color-gray, 25);
                    color: $color-red;
                }
            }
        }
    }




    // alerts
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        padding: 1em 2em 1em 3.5em;
        margin: 0 0 2em;
        position: relative;
        background-color: #f7f6f7;
        color: #515151;
        border: 1px solid $color-blue;

        &:before {
            color: $color-blue;
        }
    }

    .woocommerce-error {
        border: 2px solid $color-red;

        &:before {
            color: $color-red;
        }
    }
}
