// Upcoming/next sale
.sale {
	padding: 5em 0;

	.address,
	.date-time {
		padding-bottom: 1.5em;

		li {
			display: block;
			font-weight: 600;
			line-height: 1.75;
		}
	}

	.address {
		.cta {
			font-weight: 400;
		}
	}

    .sale-header {
        @extend %pad-h;
		z-index: 3;
    }


    .view-more {
        display: none;
    }




	@media (min-width: $bp-small) {
		header {
			text-align: center;

			&.list-header {
				text-align: left;
			}
		}

		.address,
		.date-time {
			li {
				display: inline-block;

			}
		}

		.address {
			li {
				&:first-of-type {
					margin-right: 0.5em;
				}

				&.cta {
					margin-left: 2em;
					font-size: 90%;
				}
			}
		}


		.date-time {
			li {
				margin: 0;

                &::after {
                    content: '|';
                    display: inline-block;
                    margin: 0 2em;
                    opacity: 0.5;
					color: $color-brown;
                }

                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
			}

		}

        .view-more {
			display: block;
			margin: 0 auto;
        }
	}
}

.sale-meta {
	padding: 0.5em 1em 4em;

    a {
        margin: 0 2em 0 0;
        color: $color-black-2;

        &:hover {
            color: $color-red;
        }
    }

    @media (min-width: $bp-small) {
        text-align: center;

        a {
            margin: 0 3em;
        }
    }
}

.sale-description {
    @extend %pad-h;
    margin: 0 auto 1em;

	@media (min-width: $bp-small) {
		margin: 2em auto;
	}
}


.sale-lists {
	@extend %flex-parent-row;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
	padding: 0 1em;

    @media (min-width: $bp-small) {
		justify-content: flex-start;
        padding-left: 1.5em;

		// full list on widescreens
		&.full-list {
			.list,
			.list.list-active {
				height: auto;
				opacity: 1;

				&::after {
					display: none;
				}
			}
		}
    }

	@media (min-width: $bp-big) {
        padding-left: 2em;
	}
}


.sale-col {
	width: 100%;

	@media (min-width: $bp-small) {
        width: calc(50% - 1.5em);
		margin-right: 1.5em;
	}

	@media (min-width: $bp-nav) {
        width: calc(33.33% - 1.5em);
	}

	@media (min-width: $bp-big) {
        width: calc(33.33% - 2em);
		margin-right: 2em;
	}
}

.sale-list {
	width: 100%;
	margin-bottom: 2em;
	border-radius: 30px;
	box-shadow: 0 4px 18px 0 rgba($color-gray-2, 0.3);
    cursor: pointer;

	@media (min-width: $bp-small) {
		padding: 1em;
	}

    @media (min-width: $bp-nav) {
		padding: 2em
	}
}

.list-header {
    @extend %flex-parent-row;
    align-items: center;
    position: relative;
    padding: 1em 1.5em;
    overflow: hidden;

	.heading-4 {
		width: 100%;
		padding-left: 0.25em;
		cursor: pointer;
	}

    &::after {
        content: '\002b';
        display: block;
        position: absolute;
        top: 50%;
        right: 1.5em;
        color: $color-red;
		font-size: 1.125em;
        transform: translateY(-50%);
		cursor: pointer;

		@media (min-width: $bp-nav) {
			right: 0.875em;
			font-size: 1.5em;
		}
    }

    .list-active & {
        &::after {
            content: '\002d';
        }

        .heading-4 {
            color: $color-red;
        }
    }


    @media (min-width: $bp-small) {
        margin-bottom: 0;
        padding: 1em 1em 1em 0.25em;
		background-color: rgba($color-white, 0.925);
		z-index: 1;
		cursor: initial;

		.heading-4 {
			padding: 0 1em 0.25em 0;
			border-bottom: 1px solid rgba($color-brown, 0.5);
		}

		.list-active & {
			.heading-4 {
				color: $color-black-2;
			}
		}
	}
}

.list {
    position: relative;
    width: 100%;
    height: 0;
	padding: 0 1.5em;
    overflow: hidden;

    li {
        margin-bottom: 0.875em;
        line-height: 1.25;
		opacity: 0;
		transition: opacity 0.2s ease-in;

		@media (min-width: $bp-nav) {
			&:nth-of-type(n + 5) {
				opacity: 0;

				.full-list & {
					opacity: 1;
				}
			}
		}
    }

    .list-active & {
        height: auto;
		padding-bottom: 1em;

		li {
			opacity: 1;

			@media (min-width: $bp-nav) {
				&:nth-of-type(n + 5) {
					opacity: 1;
				}
			}
		}
    }


    @media (min-width: $bp-small) {
		height: $list-height;
        padding-left: 0.25em;
        padding-right: 1em;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 7em;
            background: linear-gradient(to top, $color-white, transparent);
        }

        li {
			opacity: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

		.list-active & {
			height: $list-height;
		}
	}
}


.sale-close {
	padding: 2.5em 1em;
}



.upcoming {
	padding: 2em 1em;

    .upcoming-header {
		@extend %flex-parent-row;
		flex-wrap: wrap;
		align-items: center;
        padding: 0 0 1.5em;
		// border-bottom: 1px solid $color-red;
    }

	.heading-3 {
		margin: 0 2em 0.25em 0;
	}

	.address {
		width: calc(50% - 1em);
		max-width: (500 / 16) * 1em;
		margin: 0 0 1em 0;
		padding: 1.5em 0.5em;
		border: 1px solid rgba($color-brown, 0.75);
		border-radius: 6px;
		text-align: center;

		&:nth-of-type(odd) {
			margin-right: 1em;
		}

		li {
			display: block;
			line-height: 1.5;
			font-weight: 400;

			&:first-of-type {
				@extend %cta;
				font-weight: 800;
			}
		}
	}

	.upcoming-sales {
		@extend %flex-parent-row;
		flex-wrap: wrap;
	}

	@media (min-width: $bp-small) {
        padding-top: 4.5em;

		.upcoming-header {
			justify-content: center;
			padding: 0 0 2em;
		}

		.upcoming-sales {
			justify-content: space-around;
		}

		.address {
			width: calc(33.33% - 1em);
			margin: 0;
			padding: 2em;

			&:nth-of-type(odd) {
				margin-right: 0;
			}
		}
	}


	// @media (min-width: $bp-nav) {
	// 	.address {
	// 		padding: 0 3.5em;
	// 	}
	// }
}
