// Upcoming/next sale
.sale {
	@extend %pad;

	.address,
	.date-time {
		padding-bottom: 1.5em;

		li {
			display: block;
			font-weight: 600;
			line-height: 1.75;
		}
	}

	.address {
		.cta {
			font-weight: 400;
		}
	}

    .sale-header {
        @extend %pad-h;
    }


    .view-more {
        display: none;
    }


	@media (min-width: $bp-small) {
		header {
			text-align: center;
		}

		.address,
		.date-time {
			li {
				display: inline-block;

			}
		}

		.address {
			li {
				&:first-of-type {
					margin-right: 0.5em;
				}

				&.cta {
					margin-left: 2em;
					font-size: 90%;
				}
			}
		}


		.date-time {
			li {
				margin: 0;

                &::after {
                    content: '|';
                    display: inline-block;
                    margin: 0 2em;
                    opacity: 0.5;
                }

                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
			}

		}

        .view-more {
            display: block;
            width: calc(100% - 8em);
            max-width: 52em;
            margin: 0 auto;
        }
	}
}

.sale-meta {
	padding: 0.5em 1em 4em;

    a {
        margin: 0 2em 0 0;
        color: $color-black-2;

        &:hover {
            color: $color-red;
        }
    }

    @media (min-width: $bp-small) {
        text-align: center;

        a {
            margin: 0 3em;
        }
    }
}

.sale-description {
    @extend %pad-h;
    margin: 2em auto;
}


.sale-lists {
	@extend %flex-parent-row;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
    padding-left: 1em;

    @media (min-width: $bp-small) {
        justify-content: flex-start;
        padding-left: 0;
    }
}


.sale-list {
	width: calc(100% - 1em);
	margin-bottom: 2em;
    cursor: pointer;

	@media (min-width: $bp-small) {
        width: calc(50% - 4em);
        margin-right: 2em;
        margin: 0 2em 2em;
	}


    @media (min-width: 90em) {
        width: calc(33.33% - 4em);
        margin: 0 2em 2em;
	}
}

.list-header {
    @extend %flex-parent-row;
    align-items: center;
    position: relative;
    margin-bottom: 1em;
    padding: 1em 0.5em 0.5em;
    border-bottom: 1px solid $color-gray;
    cursor: pointer;
    overflow: hidden;

    &::after {
        content: '\002b';
        display: block;
        position: absolute;
        top: 50%;
        right: 1.5em;
        width: 0.75em;
        height: 0.75em;
        color: $color-red;
        transform: translateY(-50%);
    }

    .active & {
        &::after {
            content: '\002d';
        }

        .heading-4 {
            color: $color-red;
        }
    }


    @media (min-width: $bp-small) {
        margin-bottom: 1em;
        padding: 1em 1em 0.5em;

        &::after {
            position: relative;
            right: auto;
            margin-left: 1em;
        }
	}
}

.list {
    position: relative;
    width: 100%;
    height: 8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow: hidden;

    li {
        margin-bottom: 0.875em;
        line-height: 1.25;
    }

    .active & {
        height: auto;
        opacity: 1;
    }


    @media (min-width: $bp-small) {
        padding-left: 1em;
        padding-right: 1em;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 7em;
            background: linear-gradient(to top, $color-white, transparent);
        }

        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
	}
}


.list-footer {
    padding: 0.25em 0.5em 0.75em;

    p {
        margin: 0;
    }

    span {
        margin-left: 0.25em;
    }

    @media (min-width: $bp-small) {
        display: none;
    }
}


.upcoming {
	max-width: 36em;
	padding: 2em 0;

    .upcoming-header {
        padding: 0 0 3em;
    }

	.heading-3 {
		margin-bottom: 1em;
	}

	.address {
		margin-bottom: 1.5em;
        text-align: center;

		li {
			display: block;
		}
	}

	@media (min-width: $bp-small) {
        padding-top: 8em;

		.flex {
			display: flex;
			flex-flow: row wrap;
            align-items: flex-end;
		}

		.heading-3 {
			margin: 0 2em 0 0;
		}

		.address {
			width: calc(50% - 1em);
		}
	}
}
