// Upcoming/next sale
.sale {
	padding: 5em 0;

	.address,
	.date-time {
		li {
			display: block;
			font-weight: 600;

            span {
                font-style: italic;
            }
		}
	}

	.address {
		padding-bottom: 1.5em;

        li {
            line-height: 1.5;
        }

        .break {
            display: block;
            font-weight: 400;
        }
	}

    .date-time {
        padding-bottom: 2em;

        li {
            line-height: 1.75;
			font-weight: 400;
		}
    }

    .sale-header {
        @extend %pad-h;
		z-index: 3;
    }


    .view-more {
        display: none;
    }




	@media (min-width: $bp-small) {
		header {
			text-align: center;

			&.list-header {
				text-align: left;
			}
		}

		.address,
		.date-time {
			li {
				display: inline-block;

			}
		}

		.address {
			li {
				&:first-of-type {
					margin-right: 0.5em;
				}

				&.cta {
					margin-left: 2em;
					font-size: 90%;
				}
			}
		}


		.date-time {
			li {
				margin: 0;

                &::after {
                    content: '|';
                    display: inline-block;
                    margin: 0 2em;
                    opacity: 0.5;
					color: $color-brown;
                }

                &:last-of-type {
                    &::after {
                        display: none;
                    }
                }
			}

		}

        .view-more {
			display: block;
			margin: 0 auto;
        }
	}


	@media (min-width: $bp-nav) {
		padding: 10em 0 6em;
	}
}

.sale-meta {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	max-width: 34em;
	padding: 0.5em 0 4em;

    a {
        margin: 0 2em 0 0;
        color: lighten($color-black-2, 10);

		&:last-of-type {
			margin-right: 0;
		}

        &:hover {
            color: $color-red;
        }
    }

    @media (min-width: $bp-small) {
		margin: 0 auto;
		padding: 1em 0 2em;
        text-align: center;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: $color-gray-3;

        a {
			width: 33.33%;
            margin: 0;
        }
    }
}


.external-link {
	@extend %fs-14;
	text-align: center;

	svg {
		display: block;
		width: 1.75em;
		height: 1.75em;
		margin: 0 auto 0.25em;
		fill: $color-red;
		vertical-align: bottom;
	}

	.fb {
		width: 1.5em;
		height: (28 / 16) * 1em;
		fill: #3b5998;
	}
}


.sale-description {
    @extend %pad-h;
    margin: 0 auto 2em;

    p {
        @extend .copy-1;
        text-align: center;

        &:not(:last-of-type) {
            margin-bottom: 0.5em;
        }
    }

    ul {
        padding-left: 1.5em;
        list-style-type: disc;
    }

    li {
        @extend %fs-18;
        margin-bottom: 0.5em;
        line-height: 1.35;
    }

    span {
        display: block;
        font-size: 80%;
        margin-top: 0.5em;
    }

	@media (min-width: $bp-small) {
		margin: 2em auto 4em;
	}

    @media (min-width: $bp-nav) {
        margin-top: 3em;
    }
}

.announcement {
    width: calc(100% - 2em);
    //max-width: 90%;
    margin: 0 auto;
    padding: 1em;
    font-size: 90%;
    border-width: 1px;
    border-style: solid;
    border-color: $color-gray-3;
    border-radius: 2px;
    background-color: $color-gray-4;

    p {
        text-align: left;

        &:first-of-type {
            @extend .heading-4;
            @extend %copy-2;
        }
    }


    @media (min-width: $bp-small) {
        margin-top: 2em;

        p {
            text-align: center;
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        li {
            width: calc(50% - 1em);
        }
    }

    @media (min-width: $bp-nav) {
        width: calc(100% - 8em);
        padding: 1em 2em 0.5em;
    }

}


.sale-lists {
	@extend %flex-parent-row;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
	padding: 0 1em;

    @media (min-width: $bp-small) {
		justify-content: flex-start;
        padding-left: 1.5em;

		// full list on widescreens
		&.full-list {
			.list,
			.list.list-active {
				height: auto;
				opacity: 1;

				&::after {
					display: none;
				}
			}
		}
    }

	@media (min-width: $bp-big) {
        padding-left: 2em;
	}
}


.sale-col {
	width: 100%;

	@media (min-width: $bp-small) {
        width: calc(50% - 1.5em);
		margin-right: 1.5em;
	}

	@media (min-width: $bp-nav) {
        width: calc(33.33% - 1.5em);
	}

	@media (min-width: $bp-big) {
        width: calc(33.33% - 2em);
		margin-right: 2em;
	}
}

.sale-list {
	width: 100%;
	margin-bottom: 2em;
	border-radius: 30px;
	box-shadow: 0 2px 6px 0 rgba($color-gray-2, 0.5);
    cursor: pointer;

	@media (min-width: $bp-small) {
		padding: 1em;
	}

    @media (min-width: $bp-nav) {
		padding: 2em
	}

	&:hover {
		.list-header {
			svg {
				fill: $color-red;
			}
		}
	}
}

.list-header {
    @extend %flex-parent-row;
    align-items: center;
    position: relative;
    padding: 1em 1.5em;
    overflow: hidden;

	.heading-4 {
		width: 100%;
		padding-left: 0.25em;
		cursor: pointer;
	}

	svg {
		display: block;
		width: 1em;
		height: 1em;
		position: absolute;
		top: calc(50% - 3px);
		right: 1.5em;
		transform: translateY(-50%) rotateX(0);
		fill: $color-gray-2;
		transition: fill 0.3s ease, transform 0.3s ease;
	}

    .list-active & {
        .heading-4 {
            color: $color-red;
        }
    }

	.full-list & {
		svg {
			transform: translateY(-50%) rotateX(180deg);
		}
	}


    @media (min-width: $bp-small) {
        margin-bottom: 0;
        padding: 1em 1em 1em 0.25em;
		background-color: rgba($color-white, 0.925);
		z-index: 1;
		cursor: initial;

		.heading-4 {
			padding: 0 1em 0.4em 0;
			border-bottom: 1px solid $color-gray-2;
		}

		.list-active & {
			.heading-4 {
				color: $color-black-2;
			}
		}
	}
}

.list {
    position: relative;
    width: 100%;
    height: 0;
	padding: 0 1.5em;
    overflow: hidden;

    li {
        margin-bottom: 0.875em;
        line-height: 1.25;
		opacity: 0;
		transition: opacity 0.2s ease-in;

		@media (min-width: $bp-nav) {
			&:nth-of-type(n + 5) {
				opacity: 0;

				.full-list & {
					opacity: 1;
				}
			}
		}

        @media (min-width: $bp-small) {
            .full-list & {
                white-space: initial;
            }
        }
    }

    .more {
        font-style: italic;
        color: $color-red;
    }

    .list-active & {
        height: auto;
		padding-bottom: 1em;

		li {
			opacity: 1;

			@media (min-width: $bp-nav) {
				&:nth-of-type(n + 5) {
					opacity: 1;
				}
			}
		}
    }


    @media (min-width: $bp-small) {
		height: $list-height;
        padding-left: 0.25em;
        padding-right: 1em;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
			//width:;
            height: 7em;
            background-image: linear-gradient(to top, $color-white, rgba($color-white, 0));
        }

        li {
			opacity: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

		.list-active & {
			height: $list-height;
		}
	}
}


.sale-close {
	max-width: 50em;
	padding: 2.5em 1em 0;

    ul {
        padding-left: 1em;
    }

	li {
		@extend %copy-1;
		margin-bottom: 0.5em;
		list-style-type: disc;
	}
}



.upcoming {
	padding: 0 1em 0;

    .upcoming-header {
		@extend %flex-parent-row;
		flex-wrap: wrap;
		align-items: center;
        padding: 0 0 1.5em;
    }

	.heading-3 {
		margin: 0 2em 0.25em 0;
	}

	.address {
		width: calc(50% - 1em);
		max-width: (500 / 16) * 1em;
		margin: 0 0 1em 0;
		padding: 1.5em 0.5em;
		border: 1px solid rgba(170, 170, 170, 0.5);

		border-radius: 18px;
		text-align: center;

		&:nth-of-type(odd) {
			margin-right: 1em;
		}

		li {
			display: block;
			line-height: 1.5;
			font-weight: 400;

			&:first-of-type {
				@extend %cta;
				font-weight: 800;
			}
		}
	}

	.upcoming-sales {
		@extend %flex-parent-row;
		flex-wrap: wrap;
        margin-bottom: 5em;
	}

	@media (min-width: $bp-small) {
		.upcoming-header {
			justify-content: center;
			padding: 0 0 2em;
		}

		.upcoming-sales {
			justify-content: space-around;
		}

		.address {
			width: calc(33.33% - 1em);
			margin: 0;
			padding: 2em;

			&:nth-of-type(odd) {
				margin-right: 0;
			}
		}
	}


	@media (min-width: $bp-nav) {
		margin-bottom: 8em;
	}
}
