/* ***********************************
 *
 *    Reset based on https://github.com/ireade/css/blob/master/base.scss
 *
 * *********************************** */
/* Reset margin, padding, border
 * *********************************** */
/* line 10, ../sass/base/_reset.scss */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 37, ../sass/base/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 44, ../sass/base/_reset.scss */
html,
body {
  height: 100%;
  min-height: 100%;
  overflow: visible;
}

/* line 51, ../sass/base/_reset.scss */
body {
  font-size: 16px;
  line-height: 1.4;
}

/* line 57, ../sass/base/_reset.scss */
a,
a:visited {
  color: inherit;
}

/* Layout
 * *********************************** */
/* line 65, ../sass/base/_reset.scss */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/* line 75, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 79, ../sass/base/_reset.scss */
*:before,
*:after {
  box-sizing: inherit;
}

/* Elements
 * *********************************** */
/* line 87, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 92, ../sass/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 97, ../sass/base/_reset.scss */
img,
video {
  max-width: 100%;
}

/* line 102, ../sass/base/_reset.scss */
img {
  border-style: none;
}

/* line 106, ../sass/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 111, ../sass/base/_reset.scss */
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

/* Attributes & states
 * *********************************** */
/* line 122, ../sass/base/_reset.scss */
[hidden] {
  display: none !important;
}

/* line 126, ../sass/base/_reset.scss */
[disabled] {
  cursor: not-allowed;
}

/* line 130, ../sass/base/_reset.scss */
:focus:not(:focus-visible) {
  outline: none;
}

/* line 1, ../sass/_global.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../sass/_global.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}
