/* ***********************************
 *
 *    Reset based on https://github.com/ireade/css/blob/master/base.scss
 *
 * *********************************** */
/* Reset margin, padding, border
 * *********************************** */
/* line 10, ../sass/base/_reset.scss */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 37, ../sass/base/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 44, ../sass/base/_reset.scss */
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: visible;
}

/* line 52, ../sass/base/_reset.scss */
body {
  font-size: 16px;
  line-height: 1.4;
}

/* line 58, ../sass/base/_reset.scss */
a,
a:visited {
  color: inherit;
}

/* Layout
 * *********************************** */
/* line 66, ../sass/base/_reset.scss */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/* line 76, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 80, ../sass/base/_reset.scss */
*:before,
*:after {
  box-sizing: inherit;
}

/* Elements
 * *********************************** */
/* line 88, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 93, ../sass/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 98, ../sass/base/_reset.scss */
img,
video {
  max-width: 100%;
}

/* line 103, ../sass/base/_reset.scss */
img {
  border-style: none;
}

/* line 107, ../sass/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 112, ../sass/base/_reset.scss */
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

/* Attributes & states
 * *********************************** */
/* line 123, ../sass/base/_reset.scss */
[hidden] {
  display: none !important;
}

/* line 127, ../sass/base/_reset.scss */
[disabled] {
  cursor: not-allowed;
}

/* line 131, ../sass/base/_reset.scss */
:focus:not(:focus-visible) {
  outline: none;
}

/* line 1, ../sass/base/_utils.scss */
.logo span, .skip-link, .gfield:not(.file-upload) label, .gform_hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* line 36, ../sass/base/_utils.scss */
.site-content {
  padding-top: 5em;
}

@media (min-width: 60em) {
  /* line 4, ../sass/base/_mixins.scss */
  .offset-left {
    margin-left: 1em;
  }
}
@media screen and (min-width: 60em) and (min-width: 60em) {
  /* line 4, ../sass/base/_mixins.scss */
  .offset-left {
    margin-left: calc(1em + 10.5 * (100vw - 60em) / 20);
  }
}
@media screen and (min-width: 60em) and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .offset-left {
    margin-left: 11.5em;
  }
}

/* line 53, ../sass/base/_utils.scss */
.intro, .gform_fields, .site-header, .sale-lists, .list-header {
  display: flex;
  flex-direction: row;
}

/* line 66, ../sass/base/_utils.scss */
.fluid-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 75, ../sass/base/_utils.scss */
.fluid-wrapper iframe,
.fluid-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 87, ../sass/base/_utils.scss */
#__bs_notify__ {
  padding: .25em !important;
  font-size: .75em !important;
  opacity: .25;
}

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, ../sass/base/_typography.scss */
[class*='heading-'] {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 4, ../sass/base/_mixins.scss */
.heading-1 {
  font-size: 3.75em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-1 {
    font-size: calc(3.75em + 1.625 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-1 {
    font-size: 5.375em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-2 {
  font-size: 3em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-2 {
    font-size: calc(3em + 1.5 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-2 {
    font-size: 4.5em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-3, .heading-4, .how-it-works span {
  font-size: 1.125em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-3, .heading-4, .how-it-works span {
    font-size: calc(1.125em + 0.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-3, .heading-4, .how-it-works span {
    font-size: 1.5em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.intro p, .gform_confirmation_message,
.copy-1 {
  font-size: 1em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .intro p, .gform_confirmation_message,
  .copy-1 {
    font-size: calc(1em + 0.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .intro p, .gform_confirmation_message,
  .copy-1 {
    font-size: 1.375em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.cta {
  font-size: 1em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .cta {
    font-size: calc(1em + 0.25 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .cta {
    font-size: 1.25em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.how-it-works p, .about p,
.copy-2 {
  font-size: 0.875em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .how-it-works p, .about p,
  .copy-2 {
    font-size: calc(0.875em + 0.25 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .how-it-works p, .about p,
  .copy-2 {
    font-size: 1.125em;
  }
}

/* line 45, ../sass/base/_typography.scss */
body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #212121;
}

/* line 55, ../sass/base/_typography.scss */
a {
  color: #bf2a1e;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
/* line 60, ../sass/base/_typography.scss */
a:hover, a:visited, a:active, a:focus {
  outline: 0;
}
/* line 67, ../sass/base/_typography.scss */
a:hover {
  color: #bf2a1e;
}

/* line 73, ../sass/base/_typography.scss */
[class*='heading-'] {
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
}

/* line 80, ../sass/base/_typography.scss */
.heading-1 {
  margin-bottom: 0.5em;
  letter-spacing: -0.015em;
}

/* line 86, ../sass/base/_typography.scss */
.heading-2 {
  margin-bottom: 0.5em;
  font-weight: 300;
}

/* line 92, ../sass/base/_typography.scss */
.heading-3 {
  font-weight: 600;
}

/* line 97, ../sass/base/_typography.scss */
.heading-4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* line 106, ../sass/base/_typography.scss */
.intro p, .gform_confirmation_message,
.copy-1 {
  margin-bottom: 1em;
  line-height: 1.5;
}

/* line 113, ../sass/base/_typography.scss */
.how-it-works p, .about p,
.copy-2 {
  margin-bottom: 1em;
  line-height: 1.5;
}

/* line 120, ../sass/base/_typography.scss */
.cta {
  font-style: italic;
  color: #bf2a1e;
}

/* line 5, ../sass/_global.scss */
[class*='container-'] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 11, ../sass/_global.scss */
.container-site {
  max-width: 87.5em;
}

/* line 15, ../sass/_global.scss */
.container-mid {
  max-width: 67.75em;
}

/* line 19, ../sass/_global.scss */
.container-small {
  max-width: 48em;
}

/* line 23, ../sass/_global.scss */
.how-it-works, .about, .contact, .sale {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
@media (min-width: 54em) {
  /* line 23, ../sass/_global.scss */
  .how-it-works, .about, .contact, .sale {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

/* line 34, ../sass/_global.scss */
.sale .sale-header, .sale-description {
  padding-left: 1em;
  padding-right: 1em;
}

/* line 41, ../sass/_global.scss */
.intro {
  flex-wrap: wrap;
  padding: 2.5em 1em;
}
/* line 46, ../sass/_global.scss */
.intro header {
  padding-right: 4em;
}
/* line 50, ../sass/_global.scss */
.intro .intro-content {
  flex: 1 24em;
  max-width: 32.75em;
}
@media (min-width: 54em) {
  /* line 41, ../sass/_global.scss */
  .intro {
    padding: 5em 1em;
  }
}

/* line 67, ../sass/_global.scss */
.how-it-works {
  columns: 18em 2;
  column-gap: 4em;
}
/* line 72, ../sass/_global.scss */
.how-it-works .heading-1 {
  column-span: all;
  margin-bottom: 0.5em;
}
/* line 77, ../sass/_global.scss */
.how-it-works span {
  display: block;
  margin-bottom: 0.25em;
  font-style: italic;
}
/* line 84, ../sass/_global.scss */
.how-it-works p {
  break-inside: avoid;
}

/* line 92, ../sass/_global.scss */
.about {
  clear: both;
  overflow: auto;
}
/* line 97, ../sass/_global.scss */
.about.container-mid {
  max-width: 57.75em;
}
/* line 101, ../sass/_global.scss */
.about img {
  float: left;
  width: 40%;
  max-width: 17.75em;
  margin: 0 1.5em 1.5em 0;
}
@media (min-width: 54em) {
  /* line 113, ../sass/_global.scss */
  .about img {
    margin-right: 3.5em;
  }
}

/* line 126, ../sass/_global.scss */
.contact-info span,
.contact-info a {
  display: block;
  margin-bottom: 1em;
}

@media (min-width: 40em) {
  /* line 133, ../sass/_global.scss */
  .contact-container {
    display: flex;
    flex-flow: row wrap;
  }
  /* line 138, ../sass/_global.scss */
  .contact-container .gform_wrapper {
    order: 0;
    width: calc(100% - 16em);
    max-width: 43.75em;
  }
  /* line 144, ../sass/_global.scss */
  .contact-container .contact-info {
    order: 1;
    padding-left: 3em;
  }
}
@media (min-width: 40em) and (min-width: 68em) {
  /* line 144, ../sass/_global.scss */
  .contact-container .contact-info {
    padding-left: 6em;
  }
}

/* line 156, ../sass/_global.scss */
.gform_fields {
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 162, ../sass/_global.scss */
.gfield:not(.flex-field) {
  width: 100%;
}

/* line 166, ../sass/_global.scss */
.flex-field {
  width: calc(50% - 1em);
}

/* line 170, ../sass/_global.scss */
.gfield_description,
.validation_message {
  padding: 0.25em 0 0.75em;
  font-size: 70%;
  color: #bf2a1e;
  line-height: 1;
}

/* line 178, ../sass/_global.scss */
.validation_error {
  padding: 0.75em 0;
  color: #bf2a1e;
}

/* line 183, ../sass/_global.scss */
.gform_confirmation_message {
  color: #bf2a1e;
}

/* line 188, ../sass/_global.scss */
.gform_confirmation_message {
  padding-top: 3em;
}

/* line 192, ../sass/_global.scss */
.gfield {
  margin-bottom: 1em;
}

/* line 196, ../sass/_global.scss */
.contact-info {
  margin-bottom: 2em;
}
/* line 198, ../sass/_global.scss */
.contact-info span,
.contact-info a {
  display: block;
  color: #212121;
}

/* line 207, ../sass/_global.scss */
.site-footer {
  padding: 4em 1em 1em;
  text-align: center;
}
/* line 211, ../sass/_global.scss */
.site-footer a {
  display: block;
}

/* line 217, ../sass/_global.scss */
img {
  max-width: 100%;
  height: auto;
  border-width: 0;
  border-color: transparent;
}
/* line 223, ../sass/_global.scss */
img.alignleft {
  float: left;
  margin: 0 2em 2em 0;
}
/* line 228, ../sass/_global.scss */
img.alignright {
  float: right;
  margin: 0 0 2em 2em;
}
/* line 233, ../sass/_global.scss */
img.aligncenter {
  float: none;
  margin: 2em auto;
}

/* line 241, ../sass/_global.scss */
.external-link {
  display: inline-block;
}
/* line 244, ../sass/_global.scss */
.external-link:hover {
  color: #4a4a4a;
}
/* line 247, ../sass/_global.scss */
.external-link:hover svg {
  fill: #4a4a4a;
}
/* line 252, ../sass/_global.scss */
.external-link span {
  margin-left: 0.125em;
}
/* line 256, ../sass/_global.scss */
.external-link svg {
  width: 0.75em;
  height: 0.75em;
  fill: #bf2a1e;
}

/* line 4, ../sass/components/_header.scss */
.site-header {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
  background-color: #ffffff;
}

/* line 19, ../sass/components/_header.scss */
.logo {
  display: block;
  width: 11.125em;
  height: 4.125em;
  font-size: 80%;
  background: url("../changeover-sales-logo.jpg") no-repeat center/cover;
}

/* line 35, ../sass/components/_header.scss */
.menu-toggle {
  position: absolute;
  top: 50%;
  right: 1em;
  padding: 0.5em 1em;
  border: 1px solid #212121;
  line-height: 1;
  color: #212121;
  font-size: 1em;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  outline: -webkit-focus-ring-color 0;
  transform: translateY(-50%);
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
/* line 51, ../sass/components/_header.scss */
.menu-toggle.toggled {
  color: #bf2a1e;
  border-color: #eee;
}

/* line 58, ../sass/components/_header.scss */
.site-nav {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
  max-width: 50em;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
/* line 70, ../sass/components/_header.scss */
.site-nav.show {
  height: auto;
  opacity: 1;
  visibility: visible;
}

/* line 77, ../sass/components/_header.scss */
.menu {
  display: flex;
  flex-flow: column nowrap;
  padding: 2em 1em 0.5em;
  text-align: center;
}

/* line 84, ../sass/components/_header.scss */
.menu-item {
  margin-bottom: 1.5em;
  list-style: none;
}
/* line 88, ../sass/components/_header.scss */
.menu-item a {
  padding: 0.5em 0;
  color: #212121;
}
/* line 92, ../sass/components/_header.scss */
.menu-item a:hover {
  color: #bf2a1e;
}

@media (min-width: 54em) {
  /* line 100, ../sass/components/_header.scss */
  .site-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  /* line 107, ../sass/components/_header.scss */
  .logo {
    font-size: 100%;
  }

  /* line 111, ../sass/components/_header.scss */
  .menu-toggle {
    display: none;
  }

  /* line 115, ../sass/components/_header.scss */
  .site-nav,
  .site-nav.show {
    position: relative;
    top: 0;
    width: calc(100% - ((178 / 16) * 1em) - 3em);
    height: auto;
    opacity: 1;
    margin: 0;
    visibility: visible;
    border-radius: 50px;
  }

  /* line 128, ../sass/components/_header.scss */
  .menu {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1.25em 0 3.75em;
  }

  /* line 136, ../sass/components/_header.scss */
  .menu-item {
    margin: 0;
    padding: 0.71875em 0;
  }
  /* line 140, ../sass/components/_header.scss */
  .menu-item a {
    display: block;
    padding: 0.75em 0;
  }
}
/* line 3, ../sass/components/_forms.scss */
input, textarea {
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid #aaa;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  color: #212121;
  outline: none;
  -webkit-appearance: none;
  transition: border-color 0.2s ease-out;
}
/* line 17, ../sass/components/_forms.scss */
input:focus, textarea:focus {
  border-color: #4a4a4a;
}

/* line 33, ../sass/base/_mixins.scss */
input:-moz-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}
/* line 34, ../sass/base/_mixins.scss */
input::-moz-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}
/* line 35, ../sass/base/_mixins.scss */
input:-ms-input-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}
/* line 36, ../sass/base/_mixins.scss */
input::-webkit-input-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}

/* line 33, ../sass/base/_mixins.scss */
textarea:-moz-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}
/* line 34, ../sass/base/_mixins.scss */
textarea::-moz-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}
/* line 35, ../sass/base/_mixins.scss */
textarea:-ms-input-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}
/* line 36, ../sass/base/_mixins.scss */
textarea::-webkit-input-placeholder {
  font-size: 1em;
  color: #4a4a4a;
}

/* line 65, ../sass/components/_forms.scss */
.field-wrapper-floating {
  position: relative;
}
/* line 68, ../sass/components/_forms.scss */
.field-wrapper-floating .floating-label {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  cursor: text;
  overflow: hidden;
  font-size: 12px;
  transform-origin: left top;
  will-change: transform;
  transition: transform 0.15s ease-out;
}
/* line 80, ../sass/components/_forms.scss */
.field-wrapper-floating input:focus + .floating-label,
.field-wrapper-floating input.filled + .floating-label,
.field-wrapper-floating select:focus + .floating-label,
.field-wrapper-floating select.filled + .floating-label {
  transform: translateY(-3em) scale(0.75);
}
/* line 87, ../sass/components/_forms.scss */
.field-wrapper-floating select + .floating-label {
  width: 100%;
  background-color: #ffffff;
  padding-top: 10px;
  pointer-events: none;
}

/* line 96, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked),
[type='checkbox']:checked,
[type='radio']:not(:checked),
[type='radio']:checked {
  position: absolute;
  left: -9999px;
}
/* line 103, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label,
[type='radio']:not(:checked) + label,
[type='radio']:checked + label {
  padding: 0.25em 0.25em 0.25em 2.5em;
}
/* line 107, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::before, [type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::before,
[type='checkbox']:checked + label::after,
[type='radio']:not(:checked) + label::before,
[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::before,
[type='radio']:checked + label::after {
  content: '';
  position: absolute;
}
/* line 113, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::before,
[type='checkbox']:checked + label::before,
[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
  left: 0;
  top: 0.25em;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  transition: border-color 0.2s ease-out;
}
/* line 123, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::after,
[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

/* line 133, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::before,
[type='checkbox']:checked + label::before {
  border-radius: 3px;
}
/* line 137, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::after {
  left: 0;
  top: 0.25em;
  width: 1.5em;
  height: 1.5em;
  background: transparent url("../icons/check.svg") no-repeat center/cover;
  background-size: 10px;
  background-position: 3px 4px;
}

/* line 153, ../sass/components/_forms.scss */
[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
  border-radius: 50%;
}
/* line 157, ../sass/components/_forms.scss */
[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
  top: 0.35em;
  left: 0.25em;
  width: 1em;
  height: 1em;
  background-color: #212121;
  border-radius: 50%;
}

/* line 172, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked):focus + label::before,
[type='radio']:not(:checked):focus + label::before {
  border-width: 1px;
  border-color: #212121;
}

/* line 180, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::after,
[type='radio']:not(:checked) + label::after {
  transform: scale(0);
  opacity: 0;
}

/* line 186, ../sass/components/_forms.scss */
[type='checkbox']:checked + label::after,
[type='radio']:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

/* line 192, ../sass/components/_forms.scss */
[type='checkbox']:checked + label::before,
[type='radio']:checked + label::before {
  border-color: #212121;
}

/* line 1, ../sass/components/_buttons.scss */
.button,
button:not(.no-button-style) {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 1em 2.71429em;
  background-color: #bf2a1e;
  border: 0;
  border-radius: 2px;
  font-size: 0.875em;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
/* line 17, ../sass/components/_buttons.scss */
.button:hover,
button:hover:not(.no-button-style) {
  background-color: #ffffff;
  color: #212121;
}
/* line 22, ../sass/components/_buttons.scss */
.button:focus,
button:focus:not(.no-button-style) {
  outline: 0;
}

/* line 41, ../sass/components/_buttons.scss */
.no-button-style {
  border-width: 0;
  padding: 0;
  background-color: transparent;
}
/* line 46, ../sass/components/_buttons.scss */
.no-button-style:focus {
  outline: 0;
}

/* line 5, ../sass/components/_sale.scss */
.sale .address,
.sale .date-time {
  padding-bottom: 0.5em;
}
/* line 9, ../sass/components/_sale.scss */
.sale .address li,
.sale .date-time li {
  display: block;
  font-weight: 600;
  line-height: 1.75;
}
/* line 17, ../sass/components/_sale.scss */
.sale .address .cta {
  font-weight: 400;
}
@media (min-width: 40em) {
  /* line 28, ../sass/components/_sale.scss */
  .sale header {
    text-align: center;
  }
  /* line 34, ../sass/components/_sale.scss */
  .sale .address li,
  .sale .date-time li {
    display: inline-block;
  }
  /* line 42, ../sass/components/_sale.scss */
  .sale .address li:first-of-type {
    margin-right: 0.5em;
  }
  /* line 46, ../sass/components/_sale.scss */
  .sale .address li.cta {
    margin-left: 2em;
    font-size: 90%;
  }
  /* line 55, ../sass/components/_sale.scss */
  .sale .date-time li {
    margin: 0;
  }
  /* line 58, ../sass/components/_sale.scss */
  .sale .date-time li::after {
    content: '|';
    display: inline-block;
    margin: 0 2em;
    opacity: 0.5;
  }
  /* line 66, ../sass/components/_sale.scss */
  .sale .date-time li:last-of-type::after {
    display: none;
  }
}

/* line 76, ../sass/components/_sale.scss */
.sale-meta {
  padding: 0.5em 1em 3em;
}
/* line 79, ../sass/components/_sale.scss */
.sale-meta a {
  margin: 0 2em 0 0;
}
@media (min-width: 40em) {
  /* line 76, ../sass/components/_sale.scss */
  .sale-meta {
    text-align: center;
  }
  /* line 86, ../sass/components/_sale.scss */
  .sale-meta a {
    margin: 0 3em;
  }
}

/* line 92, ../sass/components/_sale.scss */
.sale-description {
  margin-bottom: 5em;
}

/* line 98, ../sass/components/_sale.scss */
.sale-lists {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1em;
}

/* line 107, ../sass/components/_sale.scss */
.sale-list {
  width: calc(100% - 1em);
  margin-bottom: 2em;
  cursor: pointer;
}
@media (min-width: 40em) {
  /* line 107, ../sass/components/_sale.scss */
  .sale-list {
    width: calc(50% - 2em);
    margin-right: 2em;
    margin-bottom: 4em;
    border-width: 0;
  }
}

/* line 120, ../sass/components/_sale.scss */
.list-header {
  position: relative;
  margin-bottom: 1em;
  padding: 1em 0.5em 0.5em;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  overflow: hidden;
}
/* line 129, ../sass/components/_sale.scss */
.list-header span {
  margin-left: 1em;
}
/* line 133, ../sass/components/_sale.scss */
.list-header svg {
  width: 0.75em;
  height: 0.75em;
  fill: #bf2a1e;
}
/* line 141, ../sass/components/_sale.scss */
.list-header.active::after {
  opacity: 1;
  transform: translateX(0%);
}
/* line 146, ../sass/components/_sale.scss */
.list-header.active span {
  transform: rotateX(180deg);
}
@media (min-width: 40em) {
  /* line 120, ../sass/components/_sale.scss */
  .list-header {
    margin-bottom: 1em;
    padding: 1em 1em 0.5em;
  }
}

/* line 158, ../sass/components/_sale.scss */
.list {
  position: relative;
  width: 100%;
  height: 8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: hidden;
}
/* line 166, ../sass/components/_sale.scss */
.list li {
  margin-bottom: 0.875em;
  line-height: 1.25;
}
/* line 171, ../sass/components/_sale.scss */
.active .list {
  height: auto;
  opacity: 1;
}
@media (min-width: 40em) {
  /* line 158, ../sass/components/_sale.scss */
  .list {
    height: 12em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* line 185, ../sass/components/_sale.scss */
.list-footer {
  padding: 0.25em 0.5em 0.75em;
}
/* line 188, ../sass/components/_sale.scss */
.list-footer p {
  margin: 0;
}
/* line 192, ../sass/components/_sale.scss */
.list-footer span {
  margin-left: 0.25em;
}
@media (min-width: 40em) {
  /* line 185, ../sass/components/_sale.scss */
  .list-footer {
    padding: 0.875em 1em 0.75em;
  }
}

/* line 202, ../sass/components/_sale.scss */
.upcoming {
  max-width: 36em;
  padding: 2em 0;
}
/* line 206, ../sass/components/_sale.scss */
.upcoming .heading-3 {
  margin-bottom: 1em;
}
/* line 210, ../sass/components/_sale.scss */
.upcoming .address {
  margin-bottom: 1.5em;
}
/* line 213, ../sass/components/_sale.scss */
.upcoming .address li {
  display: block;
}
@media (min-width: 40em) {
  /* line 219, ../sass/components/_sale.scss */
  .upcoming .flex {
    display: flex;
    flex-flow: row wrap;
  }
  /* line 224, ../sass/components/_sale.scss */
  .upcoming .heading-3 {
    margin: 0 2em 0 0;
  }
  /* line 228, ../sass/components/_sale.scss */
  .upcoming .address {
    width: calc(50% - 1em);
  }
}
