/* ***********************************
 *
 *    Reset based on https://github.com/ireade/css/blob/master/base.scss
 *
 * *********************************** */
/* Reset margin, padding, border
 * *********************************** */
/* line 10, ../sass/base/_reset.scss */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 37, ../sass/base/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 44, ../sass/base/_reset.scss */
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: visible;
}

/* line 52, ../sass/base/_reset.scss */
body {
  font-size: 16px;
  line-height: 1.4;
}

/* line 58, ../sass/base/_reset.scss */
a,
a:visited {
  color: inherit;
}

/* Layout
 * *********************************** */
/* line 66, ../sass/base/_reset.scss */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/* line 76, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 80, ../sass/base/_reset.scss */
*:before,
*:after {
  box-sizing: inherit;
}

/* Elements
 * *********************************** */
/* line 88, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 93, ../sass/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 98, ../sass/base/_reset.scss */
img,
video {
  max-width: 100%;
}

/* line 103, ../sass/base/_reset.scss */
img {
  border-style: none;
}

/* line 107, ../sass/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 112, ../sass/base/_reset.scss */
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

/* Attributes & states
 * *********************************** */
/* line 123, ../sass/base/_reset.scss */
[hidden] {
  display: none !important;
}

/* line 127, ../sass/base/_reset.scss */
[disabled] {
  cursor: not-allowed;
}

/* line 131, ../sass/base/_reset.scss */
:focus:not(:focus-visible) {
  outline: none;
}

/* line 1, ../sass/base/_utils.scss */
.logo span, .skip-link, .gfield:not(.file-upload):not(.checkbox) label, .gform_hidden, .gfield.checkbox .gfield_label {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* line 36, ../sass/base/_utils.scss */
.site-content {
  padding-top: 5em;
}
@media (min-width: 57em) {
  /* line 36, ../sass/base/_utils.scss */
  .site-content {
    padding-top: 6.25em;
  }
}

@media (min-width: 60em) {
  /* line 4, ../sass/base/_mixins.scss */
  .offset-left {
    margin-left: 1em;
  }
}
@media screen and (min-width: 60em) and (min-width: 60em) {
  /* line 4, ../sass/base/_mixins.scss */
  .offset-left {
    margin-left: calc(1em + 10.5 * (100vw - 60em) / 20);
  }
}
@media screen and (min-width: 60em) and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .offset-left {
    margin-left: 11.5em;
  }
}

/* line 52, ../sass/base/_utils.scss */
.intro > .container-mid, .gform_fields, .site-header .container-site, .sale-lists, .list-header, .upcoming .upcoming-header, .upcoming .upcoming-sales {
  display: flex;
  flex-direction: row;
}

/* line 65, ../sass/base/_utils.scss */
.fluid-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 74, ../sass/base/_utils.scss */
.fluid-wrapper iframe,
.fluid-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 86, ../sass/base/_utils.scss */
#__bs_notify__ {
  padding: .25em !important;
  font-size: .75em !important;
  opacity: .25;
}

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, ../sass/base/_typography.scss */
[class*='heading-'] {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 4, ../sass/base/_mixins.scss */
.heading-1 {
  font-size: 3.75em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-1 {
    font-size: calc(3.75em + 1.625 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-1 {
    font-size: 5.375em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-2 {
  font-size: 3em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-2 {
    font-size: calc(3em + 1.5 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-2 {
    font-size: 4.5em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-3 {
  font-size: 1.6875em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-3 {
    font-size: calc(1.6875em + 0.3125 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-3 {
    font-size: 2em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.how-it-works span, .contact-info span {
  font-size: 1.125em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .how-it-works span, .contact-info span {
    font-size: calc(1.125em + 0.625 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .how-it-works span, .contact-info span {
    font-size: 1.75em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-4 {
  font-size: 1.125em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-4 {
    font-size: calc(1.125em + 0.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-4 {
    font-size: 1.5em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.intro p, .gform_confirmation_message,
.copy-1 {
  font-size: 1em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .intro p, .gform_confirmation_message,
  .copy-1 {
    font-size: calc(1em + 0.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .intro p, .gform_confirmation_message,
  .copy-1 {
    font-size: 1.375em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.how-it-works p, .about p,
.copy-2, .upcoming .address li:first-of-type,
.cta, .testimonials p {
  font-size: 1em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .how-it-works p, .about p,
  .copy-2, .upcoming .address li:first-of-type,
  .cta, .testimonials p {
    font-size: calc(1em + 0.25 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .how-it-works p, .about p,
  .copy-2, .upcoming .address li:first-of-type,
  .cta, .testimonials p {
    font-size: 1.25em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.external-link {
  font-size: 0.875em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .external-link {
    font-size: calc(0.875em + 0.125 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .external-link {
    font-size: 1em;
  }
}

/* line 53, ../sass/base/_typography.scss */
body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #4a4a4a;
}

/* line 63, ../sass/base/_typography.scss */
a {
  color: #b51814;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
/* line 68, ../sass/base/_typography.scss */
a:hover, a:visited, a:active, a:focus {
  outline: 0;
}
/* line 75, ../sass/base/_typography.scss */
a:hover {
  color: #b51814;
}

/* line 81, ../sass/base/_typography.scss */
[class*='heading-'] {
  font-weight: 700;
  line-height: 1;
  color: #111;
}
/* line 88, ../sass/base/_typography.scss */
[class*='heading-'].underline::after {
  content: '';
  display: block;
  width: 72px;
  height: 3px;
  margin-top: 8px;
  border-radius: 2px;
  background-color: #b51814;
}
/* line 99, ../sass/base/_typography.scss */
[class*='heading-'].underline.thin::after {
  width: 62px;
  height: 1px;
  transform: scaleX(1) translateX(0);
}
/* line 107, ../sass/base/_typography.scss */
[class*='heading-'].underline.center::after {
  margin-left: auto;
  margin-right: auto;
}

/* line 115, ../sass/base/_typography.scss */
.heading-1 {
  margin-bottom: 0.5em;
  letter-spacing: -0.015em;
  color: #4a4a4a;
}

/* line 122, ../sass/base/_typography.scss */
.heading-2 {
  margin-bottom: 0.5em;
  font-weight: 300;
}

/* line 128, ../sass/base/_typography.scss */
.heading-3 {
  font-weight: 600;
}

/* line 133, ../sass/base/_typography.scss */
.heading-4 {
  font-weight: 600;
}

/* line 141, ../sass/base/_typography.scss */
.intro p, .gform_confirmation_message,
.copy-1 {
  margin-bottom: 1em;
  line-height: 1.5;
}

/* line 148, ../sass/base/_typography.scss */
.how-it-works p, .about p,
.copy-2 {
  margin-bottom: 1em;
  line-height: 1.5;
}

/* line 155, ../sass/base/_typography.scss */
.upcoming .address li:first-of-type,
.cta {
  font-style: italic;
  color: #b51814;
}

/* line 1, ../sass/_global.scss */
.site-content {
  background-color: #ffffff;
}

/* line 6, ../sass/_global.scss */
[class*='container-'] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, ../sass/_global.scss */
.container-site {
  max-width: 87.5em;
}

/* line 16, ../sass/_global.scss */
.container-mid {
  max-width: 67.75em;
}

/* line 20, ../sass/_global.scss */
.container-small {
  max-width: 62em;
}

/* line 33, ../sass/_global.scss */
.how-it-works, .about, .contact, .testimonials {
  padding: 5em 1em;
}
@media (min-width: 57em) {
  /* line 33, ../sass/_global.scss */
  .how-it-works, .about, .contact, .testimonials {
    padding: 12em 1em;
  }
}

/* line 41, ../sass/_global.scss */
.sale .sale-header, .sale-description {
  padding-left: 1em;
  padding-right: 1em;
}

/* line 48, ../sass/_global.scss */
.intro {
  padding: 3.5em 1em;
}
/* line 51, ../sass/_global.scss */
.intro > .container-mid {
  flex-wrap: wrap;
}
@media (min-width: 51.5em) {
  /* line 51, ../sass/_global.scss */
  .intro > .container-mid {
    justify-content: center;
  }
}
/* line 60, ../sass/_global.scss */
.intro header {
  padding-right: 4em;
}
@media (min-width: 51.5em) {
  /* line 60, ../sass/_global.scss */
  .intro header {
    padding-right: 6em;
  }
}
/* line 69, ../sass/_global.scss */
.intro .heading-2 br {
  display: none;
}
@media (min-width: 51.5em) {
  /* line 74, ../sass/_global.scss */
  .intro .heading-2 br {
    display: block;
  }
  /* line 78, ../sass/_global.scss */
  .intro .heading-2::after {
    margin-top: 18px;
  }
}
/* line 84, ../sass/_global.scss */
.intro .intro-content {
  flex: 1 24em;
  max-width: 32.75em;
}
@media (min-width: 57em) {
  /* line 48, ../sass/_global.scss */
  .intro {
    padding: 10em 1em;
  }
}

/* line 104, ../sass/_global.scss */
.how-it-works > div {
  columns: 18em 2;
  column-gap: 4em;
}
/* line 109, ../sass/_global.scss */
.how-it-works .heading-1 {
  column-span: all;
  margin-bottom: 0.5em;
}
/* line 115, ../sass/_global.scss */
.how-it-works span {
  display: block;
  margin-bottom: 0.25em;
  font-style: italic;
}
/* line 122, ../sass/_global.scss */
.how-it-works p {
  break-inside: avoid;
}

/* line 130, ../sass/_global.scss */
.about {
  clear: both;
  overflow: auto;
}
/* line 135, ../sass/_global.scss */
.about .container-mid {
  max-width: 57.75em;
}
/* line 139, ../sass/_global.scss */
.about img {
  float: left;
  width: 40%;
  max-width: 17.75em;
  margin: 0 1.5em 1.5em 0;
}
@media (min-width: 57em) {
  /* line 151, ../sass/_global.scss */
  .about img {
    margin-right: 3.5em;
  }
}

@media (min-width: 57em) {
  /* line 159, ../sass/_global.scss */
  .contact {
    padding-bottom: 14em;
  }
}

/* line 167, ../sass/_global.scss */
.contact-info {
  width: 80%;
  margin: 0 auto 1em;
  padding: 2em;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgba(170, 170, 170, 0.5);
  border-radius: 30px;
}
/* line 175, ../sass/_global.scss */
.contact-info span,
.contact-info a {
  display: block;
  color: #4a4a4a;
}
/* line 181, ../sass/_global.scss */
.contact-info span {
  margin-bottom: 0.5em;
  line-height: 1;
  color: rgba(181, 24, 20, 0.9);
  font-style: italic;
}
/* line 188, ../sass/_global.scss */
.contact-info span:last-of-type {
  margin-bottom: 1em;
}
/* line 193, ../sass/_global.scss */
.contact-info a {
  margin-bottom: 0.5em;
}
/* line 196, ../sass/_global.scss */
.contact-info a:last-of-type {
  margin-bottom: 0;
}
/* line 200, ../sass/_global.scss */
.contact-info a:hover {
  color: #b51814;
}

@media (min-width: 48em) {
  /* line 206, ../sass/_global.scss */
  .contact-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  /* line 212, ../sass/_global.scss */
  .contact-container .gform_wrapper {
    order: 0;
    max-width: 43.75em;
  }
  /* line 217, ../sass/_global.scss */
  .contact-container .contact-info {
    order: 1;
    align-self: center;
    width: auto;
    height: 352px;
    margin: 0 0 0 2em;
    padding: 4em;
    text-align: left;
    transform: translateY(-67px);
  }
}

/* line 231, ../sass/_global.scss */
.gform_fields {
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 237, ../sass/_global.scss */
.gfield:not(.flex-field) {
  width: 100%;
}

/* line 241, ../sass/_global.scss */
.flex-field {
  width: calc(50% - 1em);
}

/* line 245, ../sass/_global.scss */
.gfield_description,
.validation_message {
  padding: 0.25em 0 0.75em;
  font-size: 70%;
  color: #b51814;
  line-height: 1;
}

/* line 253, ../sass/_global.scss */
.validation_error {
  padding: 0.75em 0;
  color: #b51814;
}

/* line 258, ../sass/_global.scss */
.gform_confirmation_message {
  color: #b51814;
}

/* line 263, ../sass/_global.scss */
.gform_confirmation_message {
  padding-top: 3em;
}

/* line 267, ../sass/_global.scss */
.gfield {
  margin-bottom: 1em;
}

/* line 274, ../sass/_global.scss */
.testimonials {
  background: #b51814;
  background: radial-gradient(circle, #b51814 0%, #b13a37 44%);
  color: #ffffff;
}
/* line 280, ../sass/_global.scss */
.testimonials .slide {
  width: calc(100% - 2em);
  padding-top: 2em;
}
/* line 285, ../sass/_global.scss */
.testimonials blockquote {
  position: relative;
  margin-bottom: 1.5em;
}
/* line 290, ../sass/_global.scss */
.testimonials span {
  font-family: "Georgia", serif;
  color: #ffffff;
}
/* line 294, ../sass/_global.scss */
.testimonials span.open {
  position: absolute;
  top: -6px;
  left: -16px;
  font-size: 5em;
  line-height: 0.2;
}
@media (min-width: 57em) {
  /* line 294, ../sass/_global.scss */
  .testimonials span.open {
    top: 0;
    left: -0.35em;
  }
}
/* line 312, ../sass/_global.scss */
.testimonials .bx-controls-direction {
  display: none;
}
@media (min-width: 57em) {
  /* line 312, ../sass/_global.scss */
  .testimonials .bx-controls-direction {
    display: block;
  }
}

/* line 321, ../sass/_global.scss */
.container-slide {
  width: calc(100% - 2em);
  max-width: 50em;
}

/* line 328, ../sass/_global.scss */
.site-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 10em;
  padding: 1em;
  z-index: -1;
  text-align: center;
  background-color: #b51814;
  background: radial-gradient(circle, #b51814 0%, #b13a37 44%);
  color: #ffffff;
}
/* line 344, ../sass/_global.scss */
.site-footer a {
  display: block;
  color: #ffffff;
}
/* line 348, ../sass/_global.scss */
.site-footer a:hover {
  color: #e2e4e7;
}
/* line 353, ../sass/_global.scss */
.site-footer li {
  font-size: 0.875em;
  line-height: 2;
}
/* line 358, ../sass/_global.scss */
.site-footer .spacer {
  margin: 0 auto 5em;
}
@media (min-width: 57em) {
  /* line 328, ../sass/_global.scss */
  .site-footer {
    height: 6em;
  }
  /* line 365, ../sass/_global.scss */
  .site-footer .spacer {
    margin: 0 auto 8em;
  }
  /* line 369, ../sass/_global.scss */
  .site-footer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  /* line 378, ../sass/_global.scss */
  .site-footer li::after {
    content: ' | ';
    display: inline;
    margin: 0 3em;
    opacity: 0.5;
    color: #ffffff;
  }
  /* line 387, ../sass/_global.scss */
  .site-footer li:last-of-type::after {
    display: none;
  }
  /* line 392, ../sass/_global.scss */
  .site-footer li span {
    display: inline;
    margin-left: 1em;
  }
  /* line 398, ../sass/_global.scss */
  .site-footer a {
    display: inline-block;
  }
}

/* line 405, ../sass/_global.scss */
img {
  max-width: 100%;
  height: auto;
  border-width: 0;
  border-color: transparent;
}
/* line 411, ../sass/_global.scss */
img.alignleft {
  float: left;
  margin: 0 2em 2em 0;
}
/* line 416, ../sass/_global.scss */
img.alignright {
  float: right;
  margin: 0 0 2em 2em;
}
/* line 421, ../sass/_global.scss */
img.aligncenter {
  float: none;
  margin: 2em auto;
}

/* line 431, ../sass/_global.scss */
.fade-up {
  opacity: 0;
  transform: translateY(24px);
  transition: 0.6s transform ease, 0.6s opacity ease;
}
/* line 437, ../sass/_global.scss */
.fade-up.animate {
  opacity: 1;
  transform: translateY(0);
}

/* line 444, ../sass/_global.scss */
.fade {
  opacity: 0;
  transition: 0.6s transform ease, 0.6s opacity ease;
}
/* line 448, ../sass/_global.scss */
.fade.animate {
  opacity: 1;
}

/* line 454, ../sass/_global.scss */
.line-in::after {
  transform: scaleX(0);
  transform-origin: left center;
  transition: 0.4s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* line 461, ../sass/_global.scss */
.line-in.animate::after {
  transform: scaleX(1);
}

/* line 469, ../sass/_global.scss */
.spacer {
  width: 50%;
  max-width: 45em;
  height: 1px;
  margin: 1em auto;
  border: 0;
  background: rgba(170, 170, 170, 0.5);
}
/* line 478, ../sass/_global.scss */
.spacer.alt-white {
  background-color: #ffffff;
}
/* line 482, ../sass/_global.scss */
.spacer.alt-red {
  background-color: #b51814;
}

/* line 6, ../sass/components/_header.scss */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.925);
}
/* line 18, ../sass/components/_header.scss */
.site-header.scrolled {
  box-shadow: 0 1px 7px 0 rgba(170, 170, 170, 0.25);
}
/* line 22, ../sass/components/_header.scss */
.site-header .container-site {
  align-items: center;
  height: 100%;
}
/* line 28, ../sass/components/_header.scss */
.freeze .site-header {
  background-color: rgba(255, 255, 255, 0.985);
}

/* line 33, ../sass/components/_header.scss */
.logo {
  display: block;
  width: 12.5em;
  font-size: 66%;
  transform: scaleY(1);
  transform-origin: left center;
  transition: transform 0.3s ease-out;
}

/* line 54, ../sass/components/_header.scss */
.menu-toggle {
  position: absolute;
  top: 50%;
  right: 1em;
  padding: 0.5em 1em;
  border: 1px solid #111;
  line-height: 1;
  color: #111;
  font-size: 1em;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  outline: -webkit-focus-ring-color 0;
  transform: translateY(-50%);
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
/* line 70, ../sass/components/_header.scss */
.menu-toggle.toggled {
  color: #b51814;
  border-color: #eee;
}

/* line 77, ../sass/components/_header.scss */
.site-nav {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.985);
  border-bottom: 1px solid #eeeeee;
  transform-origin: right center;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform, 0.3s ease-out;
}
/* line 91, ../sass/components/_header.scss */
.site-nav.show {
  height: auto;
  opacity: 1;
  visibility: visible;
}

/* line 98, ../sass/components/_header.scss */
.menu {
  display: flex;
  flex-flow: column nowrap;
  padding: 2em 1em 0.5em;
  text-align: center;
}

/* line 105, ../sass/components/_header.scss */
.menu-item {
  position: relative;
  margin-bottom: 1.5em;
  list-style: none;
}
/* line 110, ../sass/components/_header.scss */
.menu-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #b51814;
  transform-origin: center bottom;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}
/* line 125, ../sass/components/_header.scss */
.menu-item a {
  padding: 0.5em 0.25em;
  color: #111;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease;
}
/* line 134, ../sass/components/_header.scss */
.menu-item:hover::after, .menu-item.active::after {
  transform: scaleX(1);
}
/* line 138, ../sass/components/_header.scss */
.menu-item:hover a, .menu-item.active a {
  color: #111;
}

@media (min-width: 57em) {
  /* line 147, ../sass/components/_header.scss */
  .site-header {
    height: 6.25em;
    transform: scaleY(1);
    transform-origin: left top;
    transition: transform 0.3s ease-out;
  }
  /* line 153, ../sass/components/_header.scss */
  .site-header .container-site {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  /* line 159, ../sass/components/_header.scss */
  .site-header.scrolled {
    transform: scaleY(0.8);
  }
  /* line 162, ../sass/components/_header.scss */
  .site-header.scrolled .site-nav {
    transform: scaleY(1.25) translateY(-8px);
  }
  /* line 166, ../sass/components/_header.scss */
  .site-header.scrolled .logo {
    transform: scaleX(0.8);
  }

  /* line 172, ../sass/components/_header.scss */
  .logo {
    width: 14em;
    font-size: 100%;
  }

  /* line 177, ../sass/components/_header.scss */
  .menu-toggle {
    display: none;
  }

  /* line 181, ../sass/components/_header.scss */
  .site-nav,
  .site-nav.show {
    align-self: flex-end;
    position: relative;
    top: 0;
    width: calc(100% - ((178 / 16) * 1em) - 3em);
    max-width: 50em;
    height: auto;
    opacity: 1;
    margin: 0;
    visibility: visible;
    border-radius: 50px;
    background-color: transparent;
    border-bottom-width: 0;
  }

  /* line 197, ../sass/components/_header.scss */
  .menu {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1.25em 0 3.75em;
  }

  /* line 205, ../sass/components/_header.scss */
  .menu-item {
    margin: 0;
    padding: 0.71875em 0 0.5em;
  }
  /* line 209, ../sass/components/_header.scss */
  .menu-item a {
    display: block;
    padding: 0.75em 0;
  }
}
/* line 3, ../sass/components/_forms.scss */
input, textarea {
  width: 100%;
  padding: 0.875em 1em;
  border: 1px solid #4a4a4a;
  background-color: #ffffff;
  border-radius: 6px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2;
  color: #4a4a4a;
  outline: none;
  -webkit-appearance: none;
  transition: border-color 0.2s ease-out;
}
/* line 17, ../sass/components/_forms.scss */
input:focus, textarea:focus {
  border-color: #aaa;
}

/* line 33, ../sass/base/_mixins.scss */
input:-moz-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}
/* line 34, ../sass/base/_mixins.scss */
input::-moz-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}
/* line 35, ../sass/base/_mixins.scss */
input:-ms-input-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}
/* line 36, ../sass/base/_mixins.scss */
input::-webkit-input-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}

/* line 33, ../sass/base/_mixins.scss */
textarea:-moz-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}
/* line 34, ../sass/base/_mixins.scss */
textarea::-moz-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}
/* line 35, ../sass/base/_mixins.scss */
textarea:-ms-input-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}
/* line 36, ../sass/base/_mixins.scss */
textarea::-webkit-input-placeholder {
  font-size: 1em;
  font-style: italic;
  color: #aaa;
}

/* line 65, ../sass/components/_forms.scss */
.gfield.checkbox {
  margin-bottom: 2.5em;
}
/* line 72, ../sass/components/_forms.scss */
.gfield.checkbox label:not(.gfield_label) {
  position: relative;
}

/* line 79, ../sass/components/_forms.scss */
.field-wrapper-floating {
  position: relative;
}
/* line 82, ../sass/components/_forms.scss */
.field-wrapper-floating .floating-label {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  cursor: text;
  overflow: hidden;
  font-size: 12px;
  transform-origin: left top;
  will-change: transform;
  transition: transform 0.15s ease-out;
}
/* line 94, ../sass/components/_forms.scss */
.field-wrapper-floating input:focus + .floating-label,
.field-wrapper-floating input.filled + .floating-label,
.field-wrapper-floating select:focus + .floating-label,
.field-wrapper-floating select.filled + .floating-label {
  transform: translateY(-3em) scale(0.75);
}
/* line 101, ../sass/components/_forms.scss */
.field-wrapper-floating select + .floating-label {
  width: 100%;
  background-color: #ffffff;
  padding-top: 10px;
  pointer-events: none;
}

/* line 110, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked),
[type='checkbox']:checked,
[type='radio']:not(:checked),
[type='radio']:checked {
  position: absolute;
  left: -9999px;
}
/* line 117, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label,
[type='radio']:not(:checked) + label,
[type='radio']:checked + label {
  padding: 0.25em 0.25em 0.25em 2.5em;
}
/* line 121, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::before, [type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::before,
[type='checkbox']:checked + label::after,
[type='radio']:not(:checked) + label::before,
[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::before,
[type='radio']:checked + label::after {
  content: '';
  position: absolute;
}
/* line 127, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::before,
[type='checkbox']:checked + label::before,
[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
  left: 0;
  top: 0.25em;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #111;
  transition: border-color 0.2s ease-out;
}
/* line 136, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::after,
[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

/* line 146, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::before,
[type='checkbox']:checked + label::before {
  border-radius: 3px;
}
/* line 150, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::after {
  left: 0;
  top: 0.25em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 3px;
  background-color: #b51814;
}

/* line 168, ../sass/components/_forms.scss */
[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
  border-radius: 50%;
}
/* line 172, ../sass/components/_forms.scss */
[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
  top: 0.35em;
  left: 0.25em;
  width: 1em;
  height: 1em;
  background-color: #111;
  border-radius: 50%;
}

/* line 187, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked):focus + label::before,
[type='radio']:not(:checked):focus + label::before {
  border-width: 1px;
  border-color: #111;
}

/* line 195, ../sass/components/_forms.scss */
[type='checkbox']:not(:checked) + label::after,
[type='radio']:not(:checked) + label::after {
  transform: scale(0);
  opacity: 0;
}

/* line 201, ../sass/components/_forms.scss */
[type='checkbox']:checked + label::after,
[type='radio']:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

/* line 207, ../sass/components/_forms.scss */
[type='checkbox']:checked + label::before,
[type='radio']:checked + label::before {
  border-color: #111;
}

/* line 1, ../sass/components/_buttons.scss */
.button,
button:not(.no-button-style) {
  display: inline-block;
  width: auto;
  padding: 0.75em 3em;
  border: 1px solid rgba(181, 24, 20, 0.9);
  border-radius: 6px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  background-color: rgba(181, 24, 20, 0.9);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
}
/* line 18, ../sass/components/_buttons.scss */
.button:hover,
button:hover:not(.no-button-style) {
  color: #b51814;
  border-color: #b51814;
  background-color: #ffffff;
}
/* line 24, ../sass/components/_buttons.scss */
.button:focus,
button:focus:not(.no-button-style) {
  outline: 0;
}

/* line 43, ../sass/components/_buttons.scss */
.no-button-style {
  border-width: 0;
  padding: 0;
  background-color: transparent;
}
/* line 48, ../sass/components/_buttons.scss */
.no-button-style:focus {
  outline: 0;
}

/* line 2, ../sass/components/_sale.scss */
.sale {
  padding: 5em 0;
}
/* line 5, ../sass/components/_sale.scss */
.sale .address,
.sale .date-time {
  padding-bottom: 1.5em;
}
/* line 9, ../sass/components/_sale.scss */
.sale .address li,
.sale .date-time li {
  display: block;
  font-weight: 600;
  line-height: 1.75;
}
/* line 16, ../sass/components/_sale.scss */
.sale .address {
  padding-bottom: 1em;
}
/* line 19, ../sass/components/_sale.scss */
.sale .address .cta {
  font-weight: 400;
}
/* line 24, ../sass/components/_sale.scss */
.sale .sale-header {
  z-index: 3;
}
/* line 30, ../sass/components/_sale.scss */
.sale .view-more {
  display: none;
}
@media (min-width: 40em) {
  /* line 38, ../sass/components/_sale.scss */
  .sale header {
    text-align: center;
  }
  /* line 41, ../sass/components/_sale.scss */
  .sale header.list-header {
    text-align: left;
  }
  /* line 48, ../sass/components/_sale.scss */
  .sale .address li,
  .sale .date-time li {
    display: inline-block;
  }
  /* line 56, ../sass/components/_sale.scss */
  .sale .address li:first-of-type {
    margin-right: 0.5em;
  }
  /* line 60, ../sass/components/_sale.scss */
  .sale .address li.cta {
    margin-left: 2em;
    font-size: 90%;
  }
  /* line 69, ../sass/components/_sale.scss */
  .sale .date-time li {
    margin: 0;
  }
  /* line 72, ../sass/components/_sale.scss */
  .sale .date-time li::after {
    content: '|';
    display: inline-block;
    margin: 0 2em;
    opacity: 0.5;
    color: #d5cfc3;
  }
  /* line 81, ../sass/components/_sale.scss */
  .sale .date-time li:last-of-type::after {
    display: none;
  }
  /* line 89, ../sass/components/_sale.scss */
  .sale .view-more {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 57em) {
  /* line 2, ../sass/components/_sale.scss */
  .sale {
    padding: 10em 0;
  }
}

/* line 101, ../sass/components/_sale.scss */
.sale-meta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  max-width: 50em;
  padding: 0.5em 0 4em;
}
/* line 109, ../sass/components/_sale.scss */
.sale-meta a {
  margin: 0 2em 0 0;
  color: #4a4a4a;
}
/* line 113, ../sass/components/_sale.scss */
.sale-meta a:last-of-type {
  margin-right: 0;
}
/* line 117, ../sass/components/_sale.scss */
.sale-meta a:hover {
  color: #b51814;
}
@media (min-width: 40em) {
  /* line 101, ../sass/components/_sale.scss */
  .sale-meta {
    margin: 0 auto;
    padding: 1em 0 2em;
    text-align: center;
  }
  /* line 127, ../sass/components/_sale.scss */
  .sale-meta a {
    width: 33.33%;
    margin: 0;
  }
}

/* line 135, ../sass/components/_sale.scss */
.external-link {
  text-align: center;
}
/* line 139, ../sass/components/_sale.scss */
.external-link svg {
  display: block;
  width: 1.75em;
  height: 1.75em;
  margin: 0 auto 0.25em;
  fill: #b51814;
  vertical-align: bottom;
}
/* line 148, ../sass/components/_sale.scss */
.external-link .fb {
  width: 1.5em;
  height: 1.75em;
  fill: #3b5998;
}

/* line 156, ../sass/components/_sale.scss */
.sale-description {
  margin: 0 auto 2em;
}
@media (min-width: 40em) {
  /* line 156, ../sass/components/_sale.scss */
  .sale-description {
    margin: 2em auto 4em;
  }
}

/* line 166, ../sass/components/_sale.scss */
.sale-lists {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1em;
}
@media (min-width: 40em) {
  /* line 166, ../sass/components/_sale.scss */
  .sale-lists {
    justify-content: flex-start;
    padding-left: 1.5em;
  }
  /* line 179, ../sass/components/_sale.scss */
  .sale-lists.full-list .list,
  .sale-lists.full-list .list.list-active {
    height: auto;
    opacity: 1;
  }
  /* line 184, ../sass/components/_sale.scss */
  .sale-lists.full-list .list::after,
  .sale-lists.full-list .list.list-active::after {
    display: none;
  }
}
@media (min-width: 72em) {
  /* line 166, ../sass/components/_sale.scss */
  .sale-lists {
    padding-left: 2em;
  }
}

/* line 197, ../sass/components/_sale.scss */
.sale-col {
  width: 100%;
}
@media (min-width: 40em) {
  /* line 197, ../sass/components/_sale.scss */
  .sale-col {
    width: calc(50% - 1.5em);
    margin-right: 1.5em;
  }
}
@media (min-width: 57em) {
  /* line 197, ../sass/components/_sale.scss */
  .sale-col {
    width: calc(33.33% - 1.5em);
  }
}
@media (min-width: 72em) {
  /* line 197, ../sass/components/_sale.scss */
  .sale-col {
    width: calc(33.33% - 2em);
    margin-right: 2em;
  }
}

/* line 215, ../sass/components/_sale.scss */
.sale-list {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 30px;
  box-shadow: 0 2px 6px 0 rgba(170, 170, 170, 0.5);
  cursor: pointer;
}
@media (min-width: 40em) {
  /* line 215, ../sass/components/_sale.scss */
  .sale-list {
    padding: 1em;
  }
}
@media (min-width: 57em) {
  /* line 215, ../sass/components/_sale.scss */
  .sale-list {
    padding: 2em;
  }
}
/* line 232, ../sass/components/_sale.scss */
.sale-list:hover .list-header svg {
  fill: #b51814;
}

/* line 239, ../sass/components/_sale.scss */
.list-header {
  align-items: center;
  position: relative;
  padding: 1em 1.5em;
  overflow: hidden;
}
/* line 246, ../sass/components/_sale.scss */
.list-header .heading-4 {
  width: 100%;
  padding-left: 0.25em;
  cursor: pointer;
}
/* line 252, ../sass/components/_sale.scss */
.list-header svg {
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: calc(50% - 3px);
  right: 1.5em;
  transform: translateY(-50%) rotateX(0);
  fill: #aaa;
  transition: fill 0.3s ease, transform 0.3s ease;
}
/* line 265, ../sass/components/_sale.scss */
.list-active .list-header .heading-4 {
  color: #b51814;
}
/* line 271, ../sass/components/_sale.scss */
.full-list .list-header svg {
  transform: translateY(-50%) rotateX(180deg);
}
@media (min-width: 40em) {
  /* line 239, ../sass/components/_sale.scss */
  .list-header {
    margin-bottom: 0;
    padding: 1em 1em 1em 0.25em;
    background-color: rgba(255, 255, 255, 0.925);
    z-index: 1;
    cursor: initial;
  }
  /* line 284, ../sass/components/_sale.scss */
  .list-header .heading-4 {
    padding: 0 1em 0.4em 0;
    border-bottom: 1px solid #aaa;
  }
  /* line 290, ../sass/components/_sale.scss */
  .list-active .list-header .heading-4 {
    color: #4a4a4a;
  }
}

/* line 297, ../sass/components/_sale.scss */
.list {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 1.5em;
  overflow: hidden;
}
/* line 304, ../sass/components/_sale.scss */
.list li {
  margin-bottom: 0.875em;
  line-height: 1.25;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
@media (min-width: 57em) {
  /* line 311, ../sass/components/_sale.scss */
  .list li:nth-of-type(n + 5) {
    opacity: 0;
  }
  /* line 314, ../sass/components/_sale.scss */
  .full-list .list li:nth-of-type(n + 5) {
    opacity: 1;
  }
}
/* line 321, ../sass/components/_sale.scss */
.list-active .list {
  height: auto;
  padding-bottom: 1em;
}
/* line 325, ../sass/components/_sale.scss */
.list-active .list li {
  opacity: 1;
}
@media (min-width: 57em) {
  /* line 329, ../sass/components/_sale.scss */
  .list-active .list li:nth-of-type(n + 5) {
    opacity: 1;
  }
}
@media (min-width: 40em) {
  /* line 297, ../sass/components/_sale.scss */
  .list {
    height: 8em;
    padding-left: 0.25em;
    padding-right: 1em;
  }
  /* line 342, ../sass/components/_sale.scss */
  .list::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7em;
    background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
  }
  /* line 354, ../sass/components/_sale.scss */
  .list li {
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* line 361, ../sass/components/_sale.scss */
  .list-active .list {
    height: 8em;
  }
}

/* line 368, ../sass/components/_sale.scss */
.sale-close {
  padding: 2.5em 1em 0;
}

/* line 374, ../sass/components/_sale.scss */
.upcoming {
  padding: 4em 1em 0;
}
/* line 377, ../sass/components/_sale.scss */
.upcoming .upcoming-header {
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 1.5em;
}
/* line 384, ../sass/components/_sale.scss */
.upcoming .heading-3 {
  margin: 0 2em 0.25em 0;
}
/* line 388, ../sass/components/_sale.scss */
.upcoming .address {
  width: calc(50% - 1em);
  max-width: 31.25em;
  margin: 0 0 1em 0;
  padding: 1.5em 0.5em;
  border: 1px solid rgba(170, 170, 170, 0.5);
  border-radius: 18px;
  text-align: center;
}
/* line 398, ../sass/components/_sale.scss */
.upcoming .address:nth-of-type(odd) {
  margin-right: 1em;
}
/* line 402, ../sass/components/_sale.scss */
.upcoming .address li {
  display: block;
  line-height: 1.5;
  font-weight: 400;
}
/* line 407, ../sass/components/_sale.scss */
.upcoming .address li:first-of-type {
  font-weight: 800;
}
/* line 414, ../sass/components/_sale.scss */
.upcoming .upcoming-sales {
  flex-wrap: wrap;
}
@media (min-width: 40em) {
  /* line 374, ../sass/components/_sale.scss */
  .upcoming {
    padding-top: 6em;
  }
  /* line 422, ../sass/components/_sale.scss */
  .upcoming .upcoming-header {
    justify-content: center;
    padding: 0 0 2em;
  }
  /* line 427, ../sass/components/_sale.scss */
  .upcoming .upcoming-sales {
    justify-content: space-around;
  }
  /* line 431, ../sass/components/_sale.scss */
  .upcoming .address {
    width: calc(33.33% - 1em);
    margin: 0;
    padding: 2em;
  }
  /* line 436, ../sass/components/_sale.scss */
  .upcoming .address:nth-of-type(odd) {
    margin-right: 0;
  }
}

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
/* line 5, ../sass/components/_slider.scss */
.bx-wrapper {
  position: relative;
  padding: 2em 0 4em;
  touch-action: pan-y;
  text-align: center;
}
/* line 12, ../sass/components/_slider.scss */
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/* line 18, ../sass/components/_slider.scss */
.bxslider {
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/components/_slider.scss */
ul.bxslider {
  list-style: none;
}

/* line 26, ../sass/components/_slider.scss */
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
/* line 33, ../sass/components/_slider.scss */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* PAGER */
/* line 43, ../sass/components/_slider.scss */
.bx-pager {
  text-align: center;
}
/* line 46, ../sass/components/_slider.scss */
.bx-pager a {
  display: block;
  width: 0.875em;
  height: 0.875em;
  margin: 0 0.5em;
  outline: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  text-indent: -9999em;
  transition: background-color 0.2s ease-out;
}
/* line 57, ../sass/components/_slider.scss */
.bx-pager a:hover, .bx-pager a:focus, .bx-pager a.active {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 66, ../sass/components/_slider.scss */
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 75, ../sass/components/_slider.scss */
.bx-controls-direction a {
  position: absolute;
  top: 50%;
  width: 2.5em;
  height: 2.5em;
  text-indent: -9999px;
  opacity: 0.75;
  transition: opacity 0.2s ease-out;
}
/* line 84, ../sass/components/_slider.scss */
.bx-controls-direction a:hover {
  opacity: 1;
}
/* line 89, ../sass/components/_slider.scss */
.bx-controls-direction .bx-prev {
  left: 0;
  background: url("../icons/prev.svg") no-repeat center/cover;
}
/* line 94, ../sass/components/_slider.scss */
.bx-controls-direction .bx-next {
  right: 0;
  background: url("../icons/next.svg") no-repeat center/cover;
}
