%font-body {
  font-family: 'Open Sans', sans-serif;
}

%font-heading {
	font-family: 'Open Sans Condensed', sans-serif;
}


// font sizes
%fs-86 {
  @include fluid-scale(font-size, 20em, 80em, 3.75em, 5.375em);
}

%fs-72 {
  @include fluid-scale(font-size, 20em, 80em, 3em, 4.5em);
}

%fs-62 {
	@include fluid-scale(font-size, 20em, 80em, 2.625em, 3.875em);
}

%fs-32 {
	@include fluid-scale(font-size, 20em, 80em, 1.6875em, 2em);
}

%fs-28 {
	@include fluid-scale(font-size, 20em, 80em, 1.125em, 1.75em);
}

%fs-24 {
	@include fluid-scale(font-size, 20em, 80em, 1.125em, 1.5em);
}

%fs-22 {
	@include fluid-scale(font-size, 20em, 80em, 1em, 1.375em);
}

%fs-20 {
	@include fluid-scale(font-size, 20em, 80em, 1em, 1.25em);
}

%fs-18 {
	@include fluid-scale(font-size, 20em, 80em, 0.875em, 1.125em);
}

%fs-16 {
	@include fluid-scale(font-size, 20em, 80em, 0.875em, 1em);
}


%fs-14 {
	@include fluid-scale(font-size, 20em, 80em, 0.75em, 0.875em);
}



body {
	@extend %font-body;
    font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: $color-black-2;
}


// links
a {
  color: $color-red;
	text-decoration: none;
	transition: color 0.2s ease-out;

	&:hover,
	&:visited,
	&:active,
	&:focus {
		outline: 0;
	}

	&:hover {
		color: $color-red;
	}
}


[class*='heading-'] {
  @extend %font-heading;
  font-weight: 700;
  line-height: 1;
  color: $color-black;

  &.underline {
      &::after {
          content: '';
          display: block;
          width: 72px;
          height: 3px;
          margin-top: 8px;
          border-radius: 2px;
          background-color: $color-red;
      }

      &.thin {
          &::after {
              width: 62px;
              height: 1px;
              transform: scaleX(1) translateX(0);
          }
      }

      &.center {
          &::after {
              margin-left: auto;
              margin-right: auto;
          }
      }
  }
}

.heading-1 {
  @extend %fs-86;
  margin-bottom: 0.5em;
  letter-spacing: -0.015em;
  color: $color-black-2;
}

.heading-2 {
  @extend %fs-72;
  margin-bottom: 0.5em;
  font-weight: 300;
}

.heading-3 {
  @extend %fs-32;
  font-weight: 600;
}

%heading-4,
.heading-4 {
  @extend %fs-24;
  font-weight: 600;
  //text-transform: uppercase;
}


%copy-1,
.copy-1 {
  @extend %fs-22;
  margin-bottom: 1em;
  line-height: 1.5;
}

%copy-2,
.copy-2 {
  @extend %fs-20;
  margin-bottom: 1em;
  line-height: 1.5;
}

%cta,
.cta {
    @extend %fs-20;
    font-style: italic;
    color: $color-red;
}
