$color-black: #111;
$color-black-2: #4a4a4a;
$color-white: #ffffff;
$color-gray: #eee;
$color-gray-2: #aaa;
$color-gray-3: #e2e4e7;
$color-gray-4: #f7f7f7;
$color-red: #bf2a1e;
$color-beige: #fbfaf8;
$color-brown: #d5cfc3;

$header-height-1: 5em;
$header-height-2: 6.5em;
$list-height: 8em;

$bp-small: 40em;
$bp-nav: 57em;
$bp-big: 72em;

$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
