.site-content {
	@extend %clear-header;
	background-color: $color-white;
}

[class*='container-'] {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container-site {
	max-width: (1400 / 16) * 1em
}

.container-mid {
	max-width: (1084 / 16) * 1em;
}

.container-small {
	max-width: 62em;
}

%pad {
	padding: 4.5em 1em;

	@media (min-width: $bp-nav) {
		padding: 8em 1em;
	}

}

%pad-big {
	padding: 5em 1em;

	@media (min-width: $bp-nav) {
		padding: 8em 1em;
	}
}

%pad-h {
	padding-left: 1em;
	padding-right: 1em;
}


// intro
.intro {
	padding: 3.5em 1em;

	> .container-mid {
		@extend %flex-parent-row;
		flex-wrap: wrap;
	}

	header {
		padding-right: 4em;
	}

	.intro-content {
		flex: 1 24em;
		max-width: (524 / 16) * 1em;
	}

	p {
		@extend %copy-1;
	}


	@media (min-width: $bp-nav) {
		padding: 10em 1em 8em;
	}
}


// how it works
.how-it-works {
	@extend %pad-big;
	background-color: $color-gray-4;
	background-color: rgba($color-brown, 0.25);

	> div {
		columns: 18em 2;
		column-gap: 4em;
	}

	.heading-1 {
		column-span: all;
		margin-bottom: 0.5em;
	}

	span {
		@extend %fs-24;
		display: block;
		margin-bottom: 0.25em;
		font-style: italic;
	}

	p {
		@extend %copy-2;
		break-inside: avoid;
	}
}


// about us
.about {
	@extend %pad-big;
	clear: both;
	overflow: auto;

	.container-mid {
		max-width: (924 / 16) * 1em;
	}

	img {
		float: left;
		width: 40%;
		max-width: (284 / 16) * 1em;
		margin: 0 1.5em 1.5em 0;
	}

	p {
		@extend %copy-2;
	}

	@media (min-width: $bp-nav) {
		img {
			margin-right: 3.5em;
		}
	}
}


// contact
.contact {
	@extend %pad-big;

	@media (min-width: $bp-nav) {
		padding-bottom: 14em;
	}
}

.contact-info {
	span,
	a {
		display: block;
		margin-bottom: 1em;
	}
}

.contact-container {
	@media (min-width: $bp-small) {
		display: flex;
		flex-flow: row wrap;

		.gform_wrapper {
			order: 0;
			width: calc(100% - 16em);
			max-width: (700 / 16) * 1em;
		}

		.contact-info {
			order: 1;
			height: calc(100% - 78px);
			padding-left: 3em;

			@media (min-width: 68em) {
				padding-left: 6em;
			}
		}
	}
}


.gform_fields {
	@extend %flex-parent-row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gfield:not(.flex-field) {
	width: 100%;
}

.flex-field {
	width: calc(50% - 1em);
}

.gfield_description,
.validation_message {
	padding: 0.25em 0 0.75em;
	font-size: 70%;
	color: $color-red;
	line-height: 1;
}

.validation_error {
	padding: 0.75em 0;
	color: $color-red;
}

.gform_confirmation_message {
	@extend %copy-1;
	color: $color-red;
}

.gform_confirmation_message {
	padding-top: 3em;
}

.gfield {
	margin-bottom: 1em;
}

.contact-info {
	margin-bottom: 2em;
	span,
	a {
		display: block;
		color: $color-black;
	}
}


// testimonials
.testimonials {
	@extend %pad-big;

	.slide {
		width: calc(100% - 2em);
		padding-top: 2em;
	}

	blockquote {
		position: relative;
		margin-bottom: 1.5em;
	}

	span {
		font-family: "Georgia", serif;
		color: $color-red;

		&.open {
			position: absolute;
			top: -6px;
			left: -16px;
			font-size: 5em;
			line-height: 0.2;

			@media (min-width: $bp-nav) {
				top: 0;
				left: -0.35em;
			}
		}
	}

	p {
		@extend %fs-20;
	}

	.bx-controls-direction {
		display: none;

		@media (min-width: $bp-nav) {
			display: block;
		}
	}
}

.container-slide {
	width: calc(100% - 2em);
	max-width: 50em;
}


// footer
.site-footer {
	padding: 3em 1em 1em;
	text-align: center;
	background-color: $color-red;
	color: $color-white;

	a {
		display: block;
		color: $color-white;
	}

	.spacer {
		margin: 0 auto 5em;
	}

	@media (min-width: $bp-nav) {
		//padding: 0 1em 8em;

		.spacer {
			margin: 0 auto 8em;
		}

		ul {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
		}

		li {

			&::after {
				content: '\00b7';
				display: inline;
				margin: 0 1em;
				color: $color-black;
			}

			&:last-of-type {
				&::after {
					display: none;
				}
			}

			span {
				display: inline;
				margin-left: 1em;
			}
		}

		a {
			display: inline-block;
		}
	}
}

// media
img {
	max-width: 100%;
	height: auto;
	border-width: 0;
	border-color: transparent;

	&.alignleft {
		float: left;
		margin: 0 2em 2em 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 2em 2em;
	}

	&.aligncenter {
		float: none;
		margin: 2em auto;
	}
}


// external links
.external-link {
	display: inline-block;

	&:hover {
		color: $color-black-2;

		svg {
			fill: $color-black-2;
		}
	}

	span {
		margin-left: 0.125em;
		vertical-align: super;
	}

	svg {
		width: 0.65em;
		height: 0.65em;
		fill: $color-red;
	}
}



// animations

.fade-up {
	opacity: 0;
	transform: translateY(2em);
	transition: 0.4s transform $ease-out-quad, 0.4s opacity $ease-out-quad;

	&.animate {
		opacity: 1;
		transform: translateY(0);
	}
}

.line-in {
	&::after {
		transform: scaleX(0);
		transform-origin: left center;
		transition: 0.4s transform $ease-out-quad;
	}

	&.animate {
		&::after {
			transform: scaleX(1);
		}
	}
}



.spacer {
	width: 50%;
	max-width: 45em;
	height: 0.125em;
	margin: 1em auto;
	border: 0;
	background: rgba($color-brown, 0.25);

	&.alt {
		background-color: $color-white;
	}
}
