.site-content {
	@extend %clear-header;
}

[class*='container-'] {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container-site {
	max-width: (1400 / 16) * 1em
}

.container-mid {
	max-width: (1084 / 16) * 1em;
}

.container-small {
	max-width: (768 / 16) * 1em;
}

%pad {
	padding: 2.5em 1em;

	@media (min-width: $bp-nav) {
		padding: 5em 1em;
	}

}


// intro
.intro {
	@extend %flex-parent-row;
	flex-wrap: wrap;
	padding: 2.5em 1em;

	header {
		padding-right: 4em;
	}

	.intro-content {
		flex: 1 24em;
		max-width: (524 / 16) * 1em;
	}

	p {
		@extend %copy-1;
	}


	@media (min-width: $bp-nav) {
		padding: 5em 1em;
	}
}


// Upcoming/next sale
.sale {
	@extend %pad;

	header {
		padding-bottom: 2em;
	}

	.address,
	.date-time {
		padding-bottom: 1em;

		li {
			display: block;
			font-weight: 600;
			line-height: 1.5;
		}
	}

	@media (min-width: $bp-small) {
		header {
			text-align: center;
		}

		.address,
		.date-time {
			li {
				display: inline-block;

			}
		}

		.address {
			li {
				&:first-of-type {
					margin-right: 0.5em;
				}
			}
		}

		.date-time {
			li {
				margin: 0 0.5em;
			}
		}
	}
}

.sale-meta {
	padding: 1em 1em 3em;
	text-align: center;

	a {
		display: inline-block;
		margin: 0 0.5em;
	}
}

.sale-lists {
	@extend %flex-parent-row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sale-list {
	width: calc(50% - 1em);
	margin-bottom: 2em;
	background-color: $color-gray;
	.heading-4 {
		margin-bottom: 0.5em;
	}

	@media (min-width: $bp-small) {
		width: calc(25% - 1.5em);
	}
}

.upcoming {
	max-width: 36em;
	padding: 2em 0;

	.heading-3 {
		margin-bottom: 1em;
	}

	.address {
		margin-bottom: 1.5em;

		li {
			display: block;
		}
	}

	@media (min-width: $bp-small) {
		.flex {
			display: flex;
			flex-flow: row wrap;
		}

		.heading-3 {
			margin: 0 2em 0 0;
		}

		.address {
			width: calc(50% - 1em);
		}
	}
}



// how it works
.how-it-works {
	@extend %pad;
	columns: 18em 2;
	column-gap: 4em;

	.heading-1 {
		column-span: all;
		margin-bottom: 0.5em;
	}

	span {
		@extend %fs-24;
		display: block;
		margin-bottom: 0.25em;
		font-style: italic;
	}

	p {
		@extend %copy-2;
		break-inside: avoid;
	}
}


// about us
.about {
	@extend %pad;
	clear: both;
	overflow: auto;

	&.container-mid {
		max-width: (924 / 16) * 1em;
	}

	img {
		float: left;
		width: 40%;
		max-width: (284 / 16) * 1em;
		margin: 0 1.5em 1.5em 0;
	}

	p {
		@extend %copy-2;
	}

	@media (min-width: $bp-nav) {
		img {
			margin-right: 3.5em;
		}
	}
}


// contact
.contact {
	@extend %pad;
}

.contact-info {
	span,
	a {
		display: block;
		color: $color-black;
	}
}


// footer
.site-footer {
	padding: 4em 1em 1em;
	text-align: center;

	a {
		display: block;
	}
}

// media
img {
	max-width: 100%;
	height: auto;
	border-width: 0;
	border-color: transparent;

	&.alignleft {
		float: left;
		margin: 0 2em 2em 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 2em 2em;
	}

	&.aligncenter {
		float: none;
		margin: 2em auto;
	}
}
